[2018-10-18 15:10] BogdanScherban opened #1 "Clinical Statements - Edit button missing"
Edit button should be present in Clinical Statements

[2018-10-18 15:12] BogdanScherban opened #2 "Images - error viewing"
Error occurs when Images page is loaded.

![images](https://user-images.githubusercontent.com/39263134/47164728-43292c80-d301-11e8-8f9d-542584556961.png)

[2018-10-18 15:13] BogdanScherban opened #3 "MDT - LeftHandSide menu disappears"
Left sidebar menu is hidden when user click on the row in Generator MDT list table.

[2018-10-18 15:13] BogdanScherban opened #4 "Add T&C to demo"
It is necessary to add demo T&C to the Showcase

[2018-10-18 15:14] BogdanScherban opened #5 "Add User Tour to demo"
It is necessary to add demo UserTour to the Showcase

[2018-10-18 15:22] BogdanScherban opened #6 "Search button - mobile mode"
Search button should toggle search panel in the mobile mode.

[2018-10-19 13:12] BogdanScherban commented on #4
Term and Conditions demo is presented in the Showcase-generator.

![terms](https://user-images.githubusercontent.com/39263134/47220189-bee6b000-d3b9-11e8-8f9b-70c07c7b01b0.png)

It can by added by the command: **_yo showcase:feature-terms-and-conditions_**

@tony-shannon
What information should be located inside Terms and Conditions modal window?

[2018-10-19 13:56] BogdanScherban commented on #3
This bug was fixed:
![mdt](https://user-images.githubusercontent.com/39263134/47222545-b7c2a080-d3bf-11e8-9942-f9e17052d3b7.png)

The reason was in MDT sidebar configurations
(name was "mdt" instead of "mdts")

[2018-10-19 14:03] BogdanScherban commented on #1
Edit button is absent, but request for editing absent too. Do we have possibility to edit Clinical Statements at server path?

If we have what URL should be?

We need in Rob's answer.

[2018-10-19 14:21] tony-shannon commented on #1
On exploring the related codebase it appears there are GETs, POSTs but no PUT to support editing
https://github.com/RippleOSI/Ripple-Qewd/blob/3b0e3d27abd76a90e1cdb579104b02ae0914fe85/lib/api.js
.. cant recall rationale, but lets close this for now until the issue rearises
T

[2018-10-19 14:21] #1 closed

[2018-10-22 10:36] BogdanScherban commented on #2
@tony-shannon

Tony, I have updates about this issue.

1) I fixed the problem with images list not loading
![images](https://user-images.githubusercontent.com/39263134/47287721-e2993880-d5fb-11e8-8859-f39191bb471b.png)

2) I found a reason why the message "Something is wrong" occurs
![images_2](https://user-images.githubusercontent.com/39263134/47287794-22602000-d5fc-11e8-8eda-ed58e34bf026.png)

P

[2018-10-22 11:16] tony-shannon commented on #2
thanks @BogdanScherban

Do you understand why "Program tries to find token inside response", but token is absent there:?

I think this one will have to wait so that Rob has time for it, can be paused for now

[2018-10-22 11:21] kuvakina commented on #6
Related to issue #263 https://waffle.io/RippleOSI/combined-development-view/cards/5bc73dc14c3f440094d8b4da

[2018-10-22 11:27] BogdanScherban commented on #5
@tony-shannon

Tony, I can add few demo-steps to Showcase:
![tour](https://user-images.githubusercontent.com/39263134/47290042-41fc4600-d606-11e8-9dc2-9f7b416c953f.png)

But the last step in Helm user tour have a link to Homepage:
![tour-helm](https://user-images.githubusercontent.com/39263134/47290086-7839c580-d606-11e8-8267-fc068722d9a9.png)

Should we add similar step to the demo-tour in Showca

[2018-10-22 11:49] BogdanScherban commented on #2
@tony-shannon

Yes, of course. This is a condition in plugin code (row 27):
https://github.com/PulseTile-Plugins/PulseTile-React-Carbon-Plugins/blob/master/Images/ducks/fetch-all-series.duck.js

It calls the function (row 163), which works with **response** array and tries to find token:
https://github.com/PulseTile/PulseTile-React-Core/blob/develop/src/utils/plugin-helpers.utils.js

This function

[2018-10-22 11:56] BogdanScherban commented on #5
@tony-shannon

We can create few steps for demo User Tour in the Showcase:
![tour](https://user-images.githubusercontent.com/39263134/47290816-e633bc00-d609-11e8-8e71-731cdcca4d99.png)

But the last step in Helm-version User Tour has a link to customer URL:
![tour-helm](https://user-images.githubusercontent.com/39263134/47290852-0499b780-d60a-11e8-8a06-8f99a3bf0862.png)

Besides this, the "?" butt

[2018-10-22 12:00] tony-shannon commented on #5
ok sure, just change End of Tour URL to https://ripple.foundation/
thanks
T

[2018-10-22 12:19] BogdanScherban commented on #2
Suggest to remove token checking from Images-plugin.

Because we can see on showcase.ripple.foundation, that response structure is the same in comparison with dev.ripple.foundation. It means, that showcase.ripple.foundation doesn't try to search a token when display the image:

![images____1](https://user-images.githubusercontent.com/39263134/47291767-8b03c880-d60d-11e8-9ee5-414315a4455c.png)

[2018-10-22 13:10] kuvakina opened #7 "Can open Diagnose datails without Diagnoses"
We can open diagnose details when we have no diagnoses at all: https://www.screencast.com/t/qQv1l2nM1

Related issue #268 https://waffle.io/RippleOSI/combined-development-view/cards/5bcdcb84f4c0a7004421f3b8

[2018-10-22 13:56] kuvakina opened #8 "Top3Things. Complete button not working"
When a user wants to add Top3Thing:
1) they go to Top Three Things
2) they click Create button and see Create Top Three Things details on the right
3) they add 1-3 Top3Things and click Complete button

Should be: 1-3 changes to Top3Things have to be saved and shown in table

Bug: nothing happens when a user clicks Complete button: https://www.screencast.com/t/aMFkQf7eiXJJ

Assume that problem is i

[2018-10-22 14:31] BogdanScherban commented on #8
@kuvakina

Alexandra, could you please add screenshots with Network/Headers tab?
It is necessary to see text of request to server.

[2018-10-22 15:00] tony-shannon commented on #7
ok thanks @kuvakina
Think we can live with that for now, but ideas on how to resolve are welcome

@PhilBarrett any other view?

[2018-10-22 15:02] tony-shannon commented on #8
yes, this needs more detail on server request/response please

[2018-10-22 15:10] kuvakina commented on #8
yes, see below, please:

https://www.screencast.com/t/2TLfpwrP6w

[2018-10-22 15:11] kuvakina commented on #7
Thank you, @tony-shannon

We'll try to look into it

[2018-10-22 15:42] kuvakina commented on #8
Raised in Helm: https://waffle.io/RippleOSI/combined-development-view/cards/5bcdefd9ab14ba00b1c05739

[2018-10-22 15:43] kuvakina commented on #7
Raised in Helm: https://waffle.io/RippleOSI/combined-development-view/cards/5bcdf01f2c62d200576fd2fe

[2018-10-22 15:49] #8 closed

[2018-10-22 15:49] #7 closed

[2018-10-22 15:54] PhilBarrett commented on #6
When user click on search button he'll see notification window on mobile device. Although on mobile we already has search field and search icon.
http://prntscr.com/l74pct

[2018-10-23 09:47] BogdanScherban commented on #5
This issue has been done.

[2018-10-26 13:30] BogdanScherban commented on #4
This issue had been done

[2018-10-31 10:10] PhilBarrett commented on #4
Tested on dev and couldn't see T&C. Moving back into "to do"

[2018-10-31 10:13] PhilBarrett commented on #3
Reviewed and resolved, thank you

[2018-10-31 10:13] #3 closed

[2018-10-31 10:20] PhilBarrett commented on #5
Need to upload to Dev for testing

[2018-11-01 13:16] BogdanScherban commented on #4
@PhilBarrett
Could you please clarify where did you test it?

because dev.ripple.foundation:8000 - it is for Helm-version
and dev.ripple.foundation (without 8000) - it is very old version, and I don't have possibility to upload build here

But you can see, that Showcase-generator is equipped with T&C-feature and it can be added to the Showcase:
![121111111111111111111111.png](https://waffleio-dire

[2018-11-09 11:31] tony-shannon opened #9 "Documentation for related PulseTile Generator & End2End tests"
Need the repos for Showcase Helm Generator & End2End tests to be documented

[2018-11-22 12:12] kuvakina commented on #9
Added Documentation for Helm Generator here https://github.com/LeedsCC/Helm-PHR-Generator

Added Documentation for Helm E2E tests here https://github.com/LeedsCC/Helm-End2End-Tests

Added Documentation for Showcase Generator here https://github.com/PulseTile/PulseTile-React-Showcase-Generator

Added Documentation for Showcase E2E tests here https://github.com/RippleOSI/ShowcaseStack-End2EndTests

[2018-11-22 15:12] PhilBarrett commented on #9
Really like these @kuvakina and team, thank you.

[2018-11-22 15:12] #9 closed

[2018-11-22 15:27] kuvakina commented on #5
@tony-shannon @PhilBarrett

We created a plugin for Showcase with the new link in the last step: https://github.com/PulseTile-Plugins/Plugin-React-UserTour/blob/master/content.js

But we didn't upload it to Dev to check. As we can only upload on :8000.  Should we do this?

[2019-01-28 11:18] PhilBarrett commented on #5
Access required for showcase. Moved back to backlog

[2019-03-01 11:07] PhilBarrett opened #10 "Setup of basic showcase on React-Admin"

[2019-03-01 17:08] kuvakina opened #11 "Add feeds to Showcase"
Related to this issue https://github.com/LeedsCC/Helm-PHR-Project/issues/87

To not loose Feeds functionality, @BogdanScherban should add it to Showcase, in case required in the future

[2019-03-04 10:52] tony-shannon opened #12 "setup PulseTile RA & QewdC on showcase-dev"
to do please

[2019-03-04 11:58] tony-shannon commented on #12
PulseTile RA components to add;

- Charts
- MPV
- Problems
- Meds
- Allergy
- Vaccinaations
- Top 3 things
- Respect
- Feeds

[2019-03-04 12:16] PhilBarrett commented on #12
See showcase-devra.ripple.foundation:8080

[2019-03-05 10:17] kuvakina commented on #12
@PhilBarrett it's not working yet, correct?

[2019-03-06 10:11] tony-shannon opened #13 "Basic theme for showcase stack login"

[2019-03-06 10:13] tony-shannon commented on #13
currently the latest Ripple stack enforces OIDC (fair enough)
but the OIDC page has Helm login branding we need simpler clean version for Ripple stack

[2019-03-07 14:10] PhilBarrett opened #14 "Change login page for Showcase to generic for future projects"
Including NES and showcase?

@simongamester, please could you mockup a plain non NHS, non helm wireframe please.

[2019-03-07 15:05] simongamester commented on #13
@tony-shannon How would you like me to deliver this? We have a repo containing a static html version of the login screen, which Rob has previously used as a template which he copy / pastes on to the server.

https://github.com/PulseTile-Plugins/Plugin-UserLogin_Theme-HelmPHR

Would you like me to submit a copy of that to this repo with branding elements stripped out?

[2019-03-13 09:53] PhilBarrett commented on #12
@kuvakina  see showcase-devra.ripple.foundation:8080

Working fine. moving to closed

[2019-03-13 09:53] #12 closed

[2019-03-15 10:59] simongamester commented on #13
I've set up a version for NES in the following Repo.

https://github.com/simongamester/UserLogin_Theme-NES

[2019-03-15 10:59] simongamester commented on #13
Apologies, added this to the wrong issue. Please disregard.

[2019-03-15 11:00] simongamester commented on #14
I've mocked up the static html for the login screen for NES.
See index.html from the following repo:
https://github.com/simongamester/UserLogin_Theme-NES

[2019-03-15 11:12] tony-shannon commented on #14
I've updated related issue on NES project
https://waffle.io/RippleOSI/combined-development-view/cards/5c8b8831e09d4200a83ed84d

https://github.com/RippleOSI/NHS_Ed_Scotland_Open_Platform/issues/52

[2019-03-15 11:12] tony-shannon commented on #14
Showcase still needs new login page, with Ripple Logo please

[2019-03-15 12:43] simongamester commented on #13
@tony-shannon @PhilBarrett I've set up a new repo containing the static files for this. They can be found here:

https://github.com/simongamester/UserLogin_Theme-Showcase

[2019-03-15 15:03] tony-shannon commented on #13
thanks @simongamester

FYI @kuvakina  and @BogdanScherban  please plan to update the PulseTile RA work for showcase with this, thanks

[2019-03-15 15:04] tony-shannon commented on #14
the Showcase login has been updated by @simongamester  thanks
Link & update available in this linked issue  here
https://github.com/RippleOSI/Ripple-Showcase-Stack-Project/issues/13

https://waffle.io/RippleOSI/combined-development-view/cards/5c7f9cd2b9ba6c0314cab6aa

[2019-03-15 15:07] tony-shannon commented on #13
BTW our repos need to be updated with these changes, please confirm that before closing this issue

[2019-04-09 14:23] PhilBarrett opened #15 "MPI service"
See https://github.com/LeedsCC/Helm-PHR-Project/issues/110

[2019-04-30 09:27] PhilBarrett commented on #13
@tony-shannon  WDYT re background image https://pixabay.com/photos/santiago-calatrava-architecture-1548506/

[2019-04-30 09:38] #14 closed

[2019-05-02 09:28] PhilBarrett opened #16 "Create new EtherCIS server for dev"

[2019-05-02 16:32] tony-shannon commented on #16
need to assign to one of the team for help with this

[2019-05-08 15:10] #15 closed

[2019-05-08 16:36] tony-shannon opened #17 "setup Script- test data - from JSON to openEHR"
lets craft a script that uploads test data for these headings
from JSON file to openEHR server
for an nhs# for an ehrID

for use on showcase etc

Problems
Meds
Vaccs
Allergies
Contacts
About Me -T3T
Personal Notes
Clinical Notes
Orders
Results
MDT
Referals
Procedures

+/-
Vitals
Drawings
Clinical Statements
Transfer of Care

![image.png](https://images.zenhubusercontent.com/5c8be461fd0adb6f09c83d6

[2019-05-09 11:51] tony-shannon commented on #17
Ideas for implementation;

see here for example JSON
https://gist.github.com/tony-shannon/c084ccdf826fda35bd32698cc246c775

[code]

[2019-05-09 14:43] tony-shannon commented on #17
the routine should
set up a CDR with test data

step 1 set up the CDR/DB connection
step 2 set up EHR IDs from NHS#
step 3 add test data to the EHRs
->by taking a raw json file, applying a transform to it (eg FHIR to openEHR) and POST the output to the relevant heading API
eg POST /ehrID/headings/allergies/1, example data

[2019-05-16 11:01] PhilBarrett opened #18 "React Admin - Showcase stack"
Progressing react admin showcase stack, see link for more details and to be split out next week.

https://docs.google.com/document/d/1219xJAd614D5rPUleybbAUu7g1oznxGvRVL937XiNT4/edit

[2019-05-17 10:40] DmitrySolyannik commented on #17
@tony-shannon Here is PR with changes for adding test data to ethercis for different patients.
https://github.com/QEWD-Courier/QEWD-Courier/pull/75
Need to talk about creating separate MS for testing data

[2019-05-20 13:25] PhilBarrett opened #19 "React-Admin Showcase Stack - Vital signs"
refactoring of React vital signs to React-Admin

http://docs.pulsetile.com/react-vitals.html

[2019-05-20 13:25] #18 closed

[2019-05-20 13:31] PhilBarrett opened #20 "React-Admin Showcase stack - Transfers of Care"
Refactoring from React to React-Admin http://docs.pulsetile.com/react-transfers-of-care.html

[2019-05-20 13:32] PhilBarrett opened #21 "Remove Tour from React-Admin showcase"

[2019-05-20 13:34] PhilBarrett commented on #10
Duplicated / split out

[2019-05-20 13:34] #10 closed

[2019-05-20 13:53] PhilBarrett opened #22 "Auth0 Showcase for Ripple Foundation React-admin Showcase"
Using Auth0 see (https://github.com/RippleOSI/React_Node_OAuth_Demo)
 (not OIDC at this time) with three roles (Admin, clinician and patient), showing:
Business intelligence view (Charts)
Multi Patient View from searching (with FHIR MPI MS (from Scotland) to enable creation / edit)
Single Patient view (patient summary)

Each role will have their own RBAC:
Administrator sees: 1,2,3
Clinician sees:

[2019-05-20 13:57] PhilBarrett commented on #13
@kuvakina see #22, we are going to have logins for the showcase

[2019-05-21 08:23] PhilBarrett opened #23 "System wide cosmetic style changes to React-Admin showcase"

[2019-05-21 12:22] kuvakina commented on #19
@PhilBarrett @tony-shannon

Bogdan started a work on it, and he can tell that approx work on Vitals would take 10 -16h. We'll try to make it faster, but for this issue and for Transfer of Care ( #20 )  , he needs server-side functionality to test it

[2019-05-21 12:28] kuvakina commented on #20
Bogdan made the forms, but he needs to test it, and for testing, he needs server-side functionality. Maybe we need to ask Dmitry's help

[2019-05-21 12:37] kuvakina commented on #23
@tony-shannon @PhilBarrett
Bogdan fixed it, could you please check it?

[2019-05-21 12:39] kuvakina commented on #13
@PhilBarrett @tony-shannon
Could you please specify what Bogdan should do here? Or first, we are waiting for Dima's changes with Auth0?

[2019-05-21 12:41] kuvakina commented on #21
Tour was remover from React-Admin Showcase:
![ww3.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/f7f67c99-3048-404f-9021-07313145018a)
![ww2.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/9efb6593-49e7-49d0-95d0-289996904e8d)
![ww1.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/09e6a447-6a0f-4d4a-b698-399729680820)

[2019-05-21 12:52] PhilBarrett commented on #23
@kuvakina looking closer, thank you. Please see charts though, this looks very different from React showcase.

[2019-05-21 12:55] PhilBarrett commented on #13
@kuvakina please see simon's message above. We are looking for a clean login screen for Showcase RA. Much as per One London, but this time with Auth0 and the image below. If you prefer to wait until Dima has completed his tasks no worries, I'll add the dependency in

[2019-05-21 12:58] PhilBarrett commented on #21
Reviewed and closing, thanks

[2019-05-21 12:58] #21 closed

[2019-05-22 16:51] PhilBarrett opened #24 "Need to investigate difference between GP and EtherCIS data source"
For One London and Showcase

[2019-05-23 11:15] kuvakina opened #25 "Heading not saving, editing or publish"
New headings for showcase-devra, we can't create them, edit or show them:
![Screenshot from 2019-05-23 12-15-58 (1).png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/87bb7b73-cd85-4abc-a192-08d4dc0d6b29)

[2019-05-24 17:36] kuvakina commented on #23
@BogdanScherban
Original Charts looks like this:
![chart](https://user-images.githubusercontent.com/40596171/58346395-774e6800-7e63-11e9-921f-dcfef37fb5a8.png)

Charts on Showcase-devra look this way:
![chart_devra](https://user-images.githubusercontent.com/40596171/58346450-9fd66200-7e63-11e9-8b30-e11825d853cc.png)

[2019-05-27 09:00] kuvakina opened #26 "In frontend missed field "time" in Procedures"
In Showcase, in heading Procedures, QEWD waits for a " time " field from frontend. But there is no such field on Frontend.
Should Bogdan add it to Frontend or  Dima has to remove/edit this field?

@BogdanScherban @DmitrySolyannik Could you please estimate the work on your side?

[2019-05-27 09:17] kuvakina commented on #26
@PhilBarrett @tony-shannon

Bogdan needs 2h  for this task (he found time field in documentation, but need to understand how to implement it)

Dima would need 1h (including to add tests), but we can't be sure, that EtherCIS will accept it

[2019-05-27 09:52] BogdanScherban commented on #23
Styles fixes, which should be done:
1) Change blocks header to grey
2) Change table header (# , Date, NEWS Score , Source) to green / light green
3) Icons should be in rectangles
4) Sorted column should be highlighted with pale green color
5) Add separate lines for columns
6) Create/Edit buttons should be as rectangle
7) Add sort(up/down)
8) Should date format be 00-Mon-0000 or we can leave 00-00-

[2019-05-27 10:31] kuvakina commented on #17
UPD @PhilBarrett @tony-shannon

Changes in PR #75 were merged. But the q re creating separate MS for testing data is open for now

[2019-05-27 11:43] tony-shannon commented on #19
Bogdan needs to update this issue please

[2019-05-27 11:44] tony-shannon commented on #20
Bogdan and Dima to update this please

[2019-05-27 11:45] tony-shannon opened #27 "Node API & PostGreSQL DB experiment"
Dima to explore please

[2019-05-27 11:46] tony-shannon commented on #27
https://github.com/RippleOSI/Node-JSON-PostGreSQL-exp1 is target repo for now

[2019-05-27 11:47] tony-shannon commented on #17
Dima to please update & outline Docker command to make this available for others to use

[2019-05-27 11:48] tony-shannon commented on #25
Dima has tested and working ok
Bogdan made some changes
Alexandra to retest

[2019-05-27 11:50] tony-shannon commented on #22
Will do this one later, hold here in To Do for now please

[2019-05-27 12:59] kuvakina opened #28 "Update FHIR MPI for Showcase"
We have to update FHIR MPI for Showcase.

[2019-05-27 13:01] kuvakina opened #29 "Search for Showcase"
We should be able to make a search by Surname, year of birth and location

[2019-05-27 16:35] tony-shannon commented on #23
which *should be* done or are done?

[2019-05-28 07:38] kuvakina commented on #23
@tony-shannon  Here is an update for style fixes:

- [x] Change blocks header to grey
- [x] Change table header (# , Date, NEWS Score , Source) to green / light green
- [x] Icons should be in rectangles
- [x] Sorted column should be highlighted with pale green color
- [x] Add separate lines for columns
- [x] Create/Edit buttons should be as rectangle
- [x] Add sort (up/down)
- [x] Add space betwee

[2019-05-28 09:33] BogdanScherban commented on #20
At the client side I did:
1) List;
2) Create/Edit form

Result on the video:
https://drive.google.com/file/d/1k5CnhP6Y4jhWs_HIIleYhrNwNlr2ZD6O/view

The error reason is bad request. But I did request according to Documentation:
![Screenshot from 2019-05-28 12-32-07.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/2984d316-4bff-4874-a9ad-d95445a2823f)

Current request to the serve

[2019-05-28 09:41] BogdanScherban commented on #19
I did following:
1) Custom list, with color border of News Score column;
2) Custom create/edit form (with color definition, popovers with rangeline and News score calculation);
3) Custom detail page;
4) Charts
5) Client side requests to the server side.

Only one issue should be solved:
https://github.com/PulseTile/PulseTile-RA/issues/92

[2019-05-28 09:51] tony-shannon commented on #20
@BogdanScherban who needs to take what action on this?

[2019-05-28 10:18] kuvakina commented on #25
|   | Create | Edit | Comment |
| :---: | :---: | :---: | :---: |
| **Clinical Notes** | yes | yes   |  |
| **MDT** | yes | no | when edit, get the error from ethercis  |
| **Personal Notes** | yes | yes |    |
| **Procedures** | no | can't test |  In frontend missed field "time" , #26  |
| **Referrals** | yes | yes |    |
|  **Transfer Of Care** | no | can't test | problem discribed in #20   |
|

[2019-05-28 11:26] BogdanScherban commented on #20
@tony-shannon

@DmitrySolyannik said, that he will do server side of this plugin.

[2019-05-28 11:41] PhilBarrett commented on #23
@simongamester these are some of the changes being made, but sense there are more required following your review

[2019-05-28 11:43] PhilBarrett opened #30 "Update showcase stack (original)"
Removing link to Marand
Adding clinical test data to ivor cox record 9999999001

[2019-05-28 11:53] PhilBarrett opened #31 "Addition of Multi-patient-view settings to the showcase"
http://docs.pulsetile.com/react-multipatients.html

As per react showcase, we need the ability to customise the MPV to show Counts/Dates for core headings.

This needs to be retrieving counts/dates info from the database.

[2019-05-28 13:39] DmitrySolyannik commented on #27
@tony-shannon Finished with this issue and pushed to separate repository. Also added new PR for changing sql file with table structure.
https://github.com/RippleOSI/Node-JSON-PostGreSQL-exp1/pull/2

[2019-05-28 13:51] DmitrySolyannik commented on #13
@tony-shannon , @PhilBarrett , @kuvakina, @BogdanScherban
I've checked this login changes, but one problem, we are using ejs file with some logic on login page (OpenID MS). Here is what we are using right now on showcase.
https://github.com/QEWD-Courier/QEWD-Courier/blob/develop/oidc_provider/openid-connect-server/modules/qewd-openid-connect/lib/views/login.ejs

This html from @simongamester, shou

[2019-05-28 14:05] DmitrySolyannik commented on #28
@tony-shannon , @PhilBarrett
Uploaded FHIR MPI to showcase server.
@kuvakina  could you please approve that everything works fine?

[2019-05-28 14:17] DmitrySolyannik commented on #20
Need to add this functionality to QEWD and refactor it to same architecture as we are using on openEHR and Discovery modules. Also need to add unit tests to this functionality. Will take about 12-16h.

[2019-05-28 14:20] DmitrySolyannik commented on #29
@tony-shannon
Need to discuss this functionality with Rob, I've checked this functionality and I see that we have two keys for searching, it is "by_identifier" and "by_surname". I need to know how can I add new keys to yottaDB for searching

[2019-05-28 14:48] tony-shannon commented on #20
ok please park this for now, leave in To Do

[2019-05-29 10:33] kuvakina opened #32 "Plugin Vitals: add functionality"
1) When goes request for Vitals list, the oxygenSupplemental parameter always return true

2) in the parameters list that returns after a request for Vitals list (GET) we have to add an index number

[2019-05-29 14:58] kuvakina commented on #28
@tony-shannon @PhilBarrett yes, it's working. Could we close this issue?

[2019-05-29 15:29] kuvakina commented on #23
@tony-shannon @PhilBarrett @simongamester

All style issues above, except for "Should date format be 00-Mon-0000 or we can leave 00-00-0000 ?", were done. Could you please check it?

Also should I test and compare all plugins and add differences between dev.r.f and showcase-devra.r.f?

[2019-05-29 15:30] kuvakina commented on #19
**UPD from Bogdan** :
 There are two important changes:
1) Redirect to Patient summary page after 'Agree';
2) Vitals create and update with list refreshing

**From Phil** :
I've also noticed Vitals Popover functionality isn't in RA version, is this a conscious decision? Finally in the charts, in the previous version you could de-select categories/lines to make it clearer and when you selected an e

[2019-05-29 16:05] PhilBarrett commented on #19
@tony-shannon I think we can consider Vitals complete now, wdyt?

[2019-05-30 10:42] simongamester commented on #13
Hi @DmitrySolyannik

I'll update my repo at https://github.com/simongamester/UserLogin_Theme-Showcase and provide an ejs version of the index.html file in there which pulls in the logic from the login.ejs file above.

I don't have any way of testing the code in the ejs, so you may need to test this before deploying.

[2019-05-30 13:17] PhilBarrett opened #33 "Clinical Query search"
Duplicating from Dev.showcase

![Screen Shot 2019-05-30 at 14.16.41.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/285a8c8c-d7a1-456b-991d-0411bbaf7d87)

[2019-05-30 13:54] PhilBarrett opened #34 "High - Tooltips cause screen flicker"
Tooltips for buttons in the header appear to cause the screen to flicker when hovering over the buttons they belong to.
https://www.youtube.com/watch?v=wDyVHM0Yn-I

I think this is caused by the positioning properties of the tooltips, which cause the vertical scroll bars to appear and disappear.

React appears to create a div at the end of the document to display the tooltip

![Screen Shot 2019-05

[2019-05-30 13:59] PhilBarrett opened #35 "High: Charts"
Suggest charts are move into their own panels

![Screen Shot 2019-05-30 at 14.55.46.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/89bf7af1-3efd-4acd-805c-b221aa7d9ab7)

See revised wireframes for context..

https://invis.io/KPS95C2ZR6X#/366179526_Charts

[2019-05-30 14:04] PhilBarrett opened #36 "Medium: Search submission on pressing ENTER"
Pressing the ENTER key should submit the search box in the top right. Currently, users must click the search button to submit a search query.

[2019-05-30 14:06] PhilBarrett opened #37 "High: Search button placement"
Recommend removing the space between the search text box and the button(s) to the right. This can be achieved be setting the margin-right on the text box to “0”:

![Screen Shot 2019-05-30 at 15.05.38.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/07846d21-dd9a-4b18-bf3b-d5b95c5bd3ec)

[2019-05-30 14:07] PhilBarrett opened #38 "High: Rounded Buttons"
Apply rounded edges to all buttons. Border-radius: 25px should be enough for most large buttons however smaller ones may need to be less.

[2019-05-30 14:08] PhilBarrett opened #39 "Low: Buttons within rows"
Buttons within rows as shown within the should appear the same whether the user is highlighting the row or not i.e. green border, white background, green text. Currently, buttons adopt a green background and white text when the row is hovered, see below:
![Screen Shot 2019-05-30 at 15.08.11.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/102a5375-013b-4b59-8614-9f8970c85d07)

[2019-05-30 14:10] PhilBarrett opened #40 "Medium: Panel Spacing and Shadows"
Dashboard widgets should be spaced slightly further apart and shadows should be applied to the outer panel’s div element.

Would recommend increasing the padding of the outer element from 8px to 15px as shown:
![Screen Shot 2019-05-30 at 15.09.43.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/d2334fe7-3024-4089-b245-271ac8dd3e71)

Apply a box shadow to the panels I think the fo

[2019-05-30 14:12] PhilBarrett opened #41 "Medium: Hovering over Dashboard Widget Rows"
When hovering over the rows within any widgets on the dashboard, no row hover effects are being displayed. It’s convention to invert the colour when hovering over any rows within a panel or widget. The mouse cursor should also change to a pointer (cursor: pointer;)

[2019-05-30 14:14] PhilBarrett opened #42 "High: Panel header and table spacing"
There should be no gaps between the header of a panel and any tables that immediately follow:

![Screen Shot 2019-05-30 at 15.13.40.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/aaf3e28e-7d32-49f1-9414-2219e601f1f6)

In the example above, there should be no margin between the grey and light green row elements.

[2019-05-30 14:15] PhilBarrett opened #43 "Form Element Styling"
Form elements seem to adopt styling from Material UI over the origial wireframes. In particular the thick bottom border and loss of padding for text within the form elements:
![Screen Shot 2019-05-30 at 15.15.03.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/b4d1bc27-cffc-4292-9eac-741c358ad22c)
In our original designs, there would padding within the text box of about 5px, howe

[2019-05-30 14:16] PhilBarrett opened #44 "High: Icons in Buttons"
The placement of icons within buttons requires minor adjustments, see example below:

![Screen Shot 2019-05-30 at 15.16.26.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/7461bf8b-3407-495b-b36a-1ba48412b68d)

In all cases, icons should be moved about 5px away from the text. In addition, the tick for the ‘Complete’ button does now appear to be aligned correctly. Suggest moving t

[2019-05-30 14:18] PhilBarrett opened #45 "Medium: Patient Summary Padding"
The text within the patient summary appears to be too close to the edges of the box:
![Screen Shot 2019-05-30 at 15.17.27.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/29b6260a-a478-4958-8931-1f960b6af63d)

For some reason, the padding that places the text within the green box is applied to each block of text, not the outer element of the summary

![Screen Shot 2019-05-30 at 1

[2019-05-30 14:20] PhilBarrett opened #46 "Low: Patient Summary Address"
It looks like the address is in a different DIV to the patient name, but I’m not sure why this is.

In some cases the patient’s doctor is displayed immediately below the name, however when this is blank, it creates a large space which increases the height of the patient summary unnescessarily.

![Screen Shot 2019-05-30 at 15.20.14.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/

[2019-05-30 14:22] PhilBarrett opened #47 "Medium: Cog hovering"
Hovering over the Cog on the dashboard reveals a grey circle behind which is not placed correctly over the cog.

![Screen Shot 2019-05-30 at 15.22.03.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/e3474178-1f46-4da4-935a-c07a3607113a)

In addition, the ‘Home’ wording is also clickable. Only the cog should be clickable.

[2019-05-30 14:25] PhilBarrett opened #48 "Add patient photo into patient banner"
Need mock up in first instance before moving into dev

See examples from http://healthdesignchallenge.com/ (1st and 3rd prize)

Rounded vs squared also a consideration

[2019-05-30 14:28] PhilBarrett opened #49 "Vital Signs - Popover change to hover"
Change Vital Signs popover from being viable when clicked, to viewable when hovered over

![Screen Shot 2019-05-30 at 15.26.17.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/a5667679-317e-4b34-9b1f-08a80e70267c)

[2019-05-30 14:30] PhilBarrett opened #50 "I need the ability to filter my results from the Multipatient view"
Add filter to MPV, including the filter iconography
![Screen Shot 2019-05-30 at 15.29.31.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/6ae410bc-f299-4d03-b730-e501242479ed)

[2019-05-30 14:32] PhilBarrett opened #51 "I need the ability to customise the multi patient view columns"
as per React version against each of the headings![Screen Shot 2019-05-30 at 15.31.50.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/f8586d1a-e6d9-4576-8826-844642facdb1)

[2019-05-30 14:37] PhilBarrett opened #52 "Replace Icons at SPV headings"
Currently like this

![Screen Shot 2019-05-30 at 15.36.13.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/7d3d9aac-dc04-4551-94f5-dc78252577ba)

Needs to go back to this as per React showcase

![Screen Shot 2019-05-30 at 15.35.19.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/444216c2-b137-4ce5-bec8-7d41f9aa4ddb)

[2019-05-30 14:40] PhilBarrett opened #53 "Notifications"
In React Showcase we have the basic concept of notifications.

![Screen Shot 2019-05-30 at 15.37.52.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/f890aac7-216c-453e-b647-cbdbcd5cce75)![Screen Shot 2019-05-30 at 15.37.59.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/745e2fb0-c092-43e1-9652-75420d009868)

We'd like to add this into RA showcase please

[2019-05-30 14:44] simongamester commented on #48
I've added the photo into the patient banner. Used this as the source for the sample image - https://randomuser.me/photos

Photo has been updated to all InVision slides in the Showcase prototype for context.

https://invis.io/KPS95C2ZR6X

Here's a sample:

![Screenshot 2019-05-30 at 15 37 52](https://user-images.githubusercontent.com/8059219/58640824-cc6dfc00-82f1-11e9-8f41-9838768a6c6b.png)

[2019-05-30 15:19] PhilBarrett opened #54 "Addition of Test Results tile to React Admin showcase"
As per React showcase
 http://docs.pulsetile.com/react-test-results.html

Need to consider the colour coding of Results to indicate quickly if something to be concerned about.
Red
Amber
Green

[2019-05-30 15:22] PhilBarrett opened #55 "Events"
Creation of Events tile

http://docs.pulsetile.com/react-events.html

And mockups of how to add a react version of timeline.js with the addition of filtering bar for date ranges

http://world.time.com/2013/12/05/nelson-mandelas-extraordinary-life-an-interactive-timeline/

https://timeline.knightlab.com/#examples

[2019-05-30 15:33] PhilBarrett opened #56 "Business intelligence UX/ Population health UX"
Mock up options required to show at a regional level you could search and display

Timeline graphs
Hierarchy chart
Bar Charts
Map based charts (by ward)

examples could be

number of people in a geographical ward with a certain condition, filtered by age, sex
number of people on a certain type of medicine
People with a high number of diagnosis (co-morbidities)
Number of people who have had a certa

[2019-05-30 15:37] PhilBarrett opened #57 "Emergency summary view"
Mock up required please on how we could go from the MPV search results to an emergency summary view, consisting of

Diagnosis
Medications
Allergies
Vital Signs graph

[2019-05-30 15:47] PhilBarrett commented on #19
Hi @BogdanScherban

We've noticed the ordering of vital signs isn't quite right (heart rate, Systolic, diastolic temperature)
Current view of RA showcase

![Screen Shot 2019-05-30 at 16.45.14.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/7e0f3b04-b577-4e73-a276-e2d8b6b39047)

Please can they be reordered so on the first row it appears
- Heart Rate
- Temperature

Second row
- S

[2019-05-30 16:15] PhilBarrett opened #58 "Showcase cosmetic enhancements"

[2019-05-30 16:31] PhilBarrett commented on #58
Hi @kuvakina, following Simon's review of the RA showcase,  I've grouped the changes together for ease. Please could we get estimates on each of the subtasks and we'll then make a call on which to proceed with.

Thank you :)

[2019-05-30 16:56] kuvakina commented on #30
@PhilBarrett @tony-shannon
To remove link to Marand, is this for devra? Could you please add a bit of detail?

[2019-05-30 16:56] BogdanScherban commented on #26
This issue should be solved by custom form creation. I'll do this, when I finish work on Patient List.

[2019-05-30 17:02] kuvakina commented on #31
Update from Bogdan:

Patient list changes:
- possibility to set table column visibility;
- possibility to redirect to problems/orders/results/vitals page

The result on the video:
https://drive.google.com/file/d/1imhbDbPvKsFMuG5FuTQlGb710URICEZP/view

Date-Count in the table is from dummy data.

I upload results to Showcase-Devra, but I see some small required fixes. Tomorrow I'll do them and star

[2019-05-30 17:05] kuvakina commented on #13
@PhilBarrett  @tony-shannon

We added User login with Showcase-theme:
![11111111111111111111.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/537731d0-cd5c-45b7-9104-b050d247b78b)

Can we close this task?

[2019-05-30 17:07] kuvakina commented on #58
thanks @PhilBarrett and  @simongamester

Tomorrow we prepare estimates for the tasks

[2019-05-31 08:37] BogdanScherban commented on #37
thanks @simongamester
@tony-shannon  @PhilBarrett for this task I need 15 minutes

[2019-05-31 08:46] BogdanScherban commented on #38
@tony-shannon @PhilBarrett

As I understand, we supposed to change UI of showcase-devra to be identical to old Showcase-ReactJS (with rectangular buttons instead of rounded) and it has been done.

Should we change UI back to rounded buttons?

If we have to do this, I need in 0.5h.

[2019-05-31 08:51] BogdanScherban commented on #42
@simongamester

Simon, could you please clarify this issue.

Old Showcase-ReactJS has gaps between header and table block, like this:
https://showcase-devra.ripple.foundation/#/patients

Should we do this gaps, if we create Showcase-RA UI identical to Showcase-ReactJS?

If it is necessary to remove it, I need in 0.25 h.

[2019-05-31 08:52] BogdanScherban commented on #44
@simongamester

Thanks, I understand. I need 0.5 h for this issue.

[2019-05-31 08:53] BogdanScherban commented on #36
I need in 0.5-1 h for this issue.

[2019-05-31 08:55] BogdanScherban commented on #40
@simongamester

Simon, could you please provide us with screenshots of panels, where we have to add it.

[2019-05-31 08:57] BogdanScherban commented on #41
@simongamester

Could you please clarify, what do you mean as Dashboard? Which elements of UI should have cursor "pointer"?
Could you please add screenshot?

[2019-05-31 09:03] BogdanScherban commented on #43
@simongamester

Simon, could you please clarify it.

Let's compare these two forms:
1) Form created by React-admin functionality:
https://showcase-devra.ripple.foundation/#/allergies/create
2) Custom form:
https://showcase-devra.ripple.foundation/#/toc/create

If I understand you correctly, we should create forms, more similar to second example.

It means, that we should use custom forms instead o

[2019-05-31 09:06] BogdanScherban commented on #45
OK, this task would require approx 0.25-0.5 h

[2019-05-31 09:07] BogdanScherban commented on #47
OK, I need 0.5  for this task.

[2019-05-31 09:10] BogdanScherban commented on #39
@simongamester

Simon, as I understand you correctly:
1) When user hover on row - button should be white with green text;
2) When user hover on the button - the same? Without hover effect by changing the color?

[2019-05-31 09:14] BogdanScherban commented on #46
@simongamester

Address line was located in the separate div below, to give possibility to locate doctor info below the patient name.

Or you suggest to locate patient name, doctor and address in one div (vertical direction)?

[2019-05-31 09:15] BogdanScherban commented on #35
@simongamester

Simon, do you suggest to locate two charts in two separate panels?
Like in Showcase-reactJS?

[2019-05-31 09:17] BogdanScherban commented on #34
@simongamester

Simon, could you please help me with this issue?

I can't understand the reason of this behavior and I tried to prevent it, but it was unsuccessful.

[2019-05-31 09:28] simongamester commented on #42
Hi @BogdanScherban

Yes, please remove as this gap wasn't present in our original InVision wireframes.

[2019-05-31 09:40] simongamester commented on #40
@BogdanScherban Here's an example of a panel and the DIV we'd like to apply spacing:

![Screenshot 2019-05-31 at 10 31 10](https://user-images.githubusercontent.com/8059219/58696490-94b59180-838f-11e9-8bf0-62522b7eff99.png)

Here's the inner DIV where we'd like to apply shadows.

![Screenshot 2019-05-31 at 10 30 58](https://user-images.githubusercontent.com/8059219/58696360-54561380-838f-11e9-8fef

[2019-05-31 09:44] simongamester commented on #41
@BogdanScherban Apologies, I mean Patient Summary. The page were we display widgets...

![Screenshot 2019-05-31 at 10 42 09](https://user-images.githubusercontent.com/8059219/58697075-cf6bf980-8390-11e9-85f7-a6168c5e7850.png)

Cursor 'pointer' should be applied to the table rows within these widgets.

[2019-05-31 09:48] simongamester commented on #43
@BogdanScherban No, I think we should stick with the first on. The one that adopts the react-admin forms, not custom.

Therefore, we just need to remove the borders at the top, left and right of the text box as I don't think these are part of material UI or react admin i.e. https://material-ui.com/components/text-fields/

[2019-05-31 09:52] simongamester commented on #39
1. Yes
2. That's a good point. For now, I think we should disable hover effects on these. So just leave them white background with green text as in point 1.

[2019-05-31 09:53] simongamester commented on #46
That's correct. All 3 fields would be within the same div. If doctor is not provided however, the address would automatically fall directly underneath the patient name.

[2019-05-31 09:54] simongamester commented on #35
Yes please. Both use 50% of the screen space.

[2019-05-31 10:09] simongamester commented on #34
I can see this might be difficult to fix. It only seems to happen when the screen being loaded DOESN'T have a vertical scroll bar. If you look at TOC for example, it works fine because this page has a lot of content on it:

https://showcase-devra.ripple.foundation/#/toc/create

I can see that the tooltip element is appended to the body, but I can't see what's inside it with dev tools:

![Screensho

[2019-05-31 10:13] BogdanScherban commented on #19
@PhilBarrett

OK, order was changed:
![Screenshot from 2019-05-31 13-13-41.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/ba17d49d-ebad-4b45-9313-e448b0d6562f)

[2019-05-31 10:17] #19 closed

[2019-05-31 10:17] PhilBarrett commented on #19
Great thanks Bogdan, closing off this task.

[2019-05-31 11:46] BogdanScherban commented on #34
@simongamester

Thanks, Simon - it works!!!
The issue has been done.

[2019-05-31 11:47] DmitrySolyannik commented on #17
@tony-shannon, you mean how we can start container with this functionality? It implemented in openEHR module, if it started, we can use seed data functionality

[2019-05-31 12:08] kuvakina commented on #34
@tony-shannon @PhilBarrett

Tested Showcase-devra: the issue is solved

Tested nes-dev and london: the issue is present. Should Bogdan add fixes there too?

[2019-05-31 12:16] tony-shannon opened #59 "clearing down test data from YottaDB"
for test data that we store for
Clinical Statements
Drawings etc
we need to be able to prune the GTM> YottaDB> DB by clearing globals

Need a few lines of instructions from @robtweed on how to do this safely

[2019-05-31 12:34] robtweed commented on #59
SSH onto dev.ripple.foundation
Type GTM followed by the Enter key and you'll get the GT.M shell prompt:
(GT.M is the forerunner to YottaDB and is what was used on dev and showcase - it's basically the same database as YottaDB)

GTM>

To clear down data you delete the Global (in effect the document name) containing it, using the kill command.

The Globals used are as follows:

- Drawings: ^ripplePi

[2019-05-31 12:36] kuvakina commented on #42
@simongamester

Sorry, Simon, we didn't know about InVision wireframes, we were working to do it identical to Showcase-react

[2019-05-31 13:02] BogdanScherban commented on #35
OK! I need in 1-1.5 h for this issue.

[2019-05-31 13:03] BogdanScherban commented on #39
OK! I need in 0.25-0.5 h for this issue

[2019-05-31 13:09] BogdanScherban commented on #40
@simongamester

Simon, should it be done ONLY for Showcase?
Or for all other projects (Helm, London, Nes) too.

In any case this issue need 0.25-0.5 h

[2019-05-31 13:11] BogdanScherban commented on #41
OK! I need in 0.2-0.25 h for this.

[2019-05-31 13:12] BogdanScherban commented on #42
OK, I need in 0.2-0,25 h for this.

[2019-05-31 13:13] BogdanScherban commented on #43
OK! I ask to give me 2-3 h for this issue, because I should find a way how to customize RA-form.

[2019-05-31 13:15] BogdanScherban commented on #46
OK, I need in 0.5 h for this issue.

[2019-05-31 14:55] kuvakina commented on #30
@tony-shannon @PhilBarrett
this issue is done. Could we close it?

[2019-05-31 15:26] tony-shannon commented on #17
thanks @DmitrySolyannik  do you recommend further work or should we move to use the postman script?

[2019-05-31 15:27] tony-shannon commented on #29
hi @robtweed, we need a discussion about extending the search capabilities of the FHIR MPI service

[2019-05-31 15:28] tony-shannon commented on #30
not yet, we need to add EtherCIS test data to a few other patients
@PhilBarrett has a few patients in mind

[2019-05-31 15:47] kuvakina commented on #30
@DmitrySolyannik could you help, please?

@PhilBarrett @tony-shannon where DIma can take those patients?

[2019-05-31 15:53] BogdanScherban commented on #26
@tony-shannon

This issue in process.

List - done, create - done.

Result on the video:
https://drive.google.com/file/d/1IhuJlZehvNCn7NQ4LNAtL7R8m0XdgOPR/view

Edit will be done next week, on Monday. I need 1-2 h for it.

[2019-05-31 16:39] PhilBarrett commented on #30
@kuvakina We'll be using

9999999006 - Ezra Gordan
9999999004 - Philip O'Connor

Adding data now

[2019-05-31 17:51] kuvakina commented on #30
@PhilBarrett thanks

[2019-06-03 10:38] kuvakina opened #60 "Results for checkbox in cog menu not saved on frontend"
The issue in the video: https://drive.google.com/file/d/1yGBWBNrEEimobYiRt1DHFcno5tq7t82z/view

When we chose to Select all or Deselect, results are saved and applying even for a new search. But on the front part, it reversed to default (in cog menu). And that's why we see like its working incorrect.

[2019-06-03 10:43] kuvakina commented on #37
@tony-shannon @PhilBarrett @simongamester
the spaces in search were removed:
![sss1.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/9802912a-16a7-44e4-8faf-9244a88ad574)
![sss.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/2b74681f-19ec-436c-85ae-52f4cadad720)

[2019-06-03 10:46] kuvakina commented on #42
@tony-shannon @PhilBarrett @simongamester

the spaces in tables were removed:
![sss2.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/e308762b-cba1-494a-a7d4-5312f9507b52)
![sss3.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/1fa93410-6c0c-419a-bc32-969409a3c673)

[2019-06-03 11:02] kuvakina commented on #36
@tony-shannon @PhilBarrett @simongamester

We can search by ENTER in Showcase-devra. Please check it

[2019-06-03 11:05] kuvakina opened #61 "Have a bug after second search for patient"
There is a bug: https://drive.google.com/file/d/1s4R9d53tU9EgFg86wDlOS7tCSo0gqb--/view

Bogdan says that for some reason when you click to search the second time, columns from cog menu are opens.

[2019-06-03 11:09] DmitrySolyannik commented on #17
@tony-shannon They both have almost the same the functionality, but postman scripts can also update templates. For now my script works only with 4 headings: Allergies, Medications, Problems and Procedures. Postman script works with almost all headings that we have on the project.
Just one thing that my json for headings contains more test data than postman scripts.

[2019-06-03 11:14] kuvakina commented on #35
@tony-shannon @PhilBarrett @simongamester
Bogdan moved charts to their own panels:
![sss4.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/3afe7f17-2b2f-40b9-8b3c-3e9c700b752a)

[2019-06-03 11:23] BogdanScherban commented on #26
This issue has been done:
https://drive.google.com/file/d/11hdaKnNY9_LU36cYtRxv1or4sZtqN9Tb/view

[2019-06-03 11:26] kuvakina commented on #26
@tony-shannon @PhilBarrett
Bogdan added Procedures editing and updated it on Showcase:

as you can see we can create Procedures:
![sss5.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/b1d821be-b74d-4f20-b08f-8e06ce1f11ee)

But result not saved because EtherCIS not creating patient ID (the issue raised in QEWD chat)

[2019-06-03 11:30] kuvakina commented on #40
@tony-shannon @PhilBarrett @simongamester

Bogdan added Panel Spacing and Shadows:
![sss6.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/63530224-c93a-4577-9125-02dead657dd2)

[2019-06-03 11:33] kuvakina commented on #41
@tony-shannon @PhilBarrett @simongamester

This was done. Result in the video: https://drive.google.com/file/d/1vKU1fLo-r-xzjAIk1wByTygOFKqJAK-A/view

[2019-06-03 12:04] kuvakina commented on #44
@tony-shannon @PhilBarrett @simongamester

Bogdan fixed this:
![sss7.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/a5f229d2-b512-4aef-8a80-9614a4550ed6)
![sss8.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/f39a5ee8-9f3a-4e97-a5fd-6e7b904d20ee)

[2019-06-03 12:07] kuvakina commented on #45
@tony-shannon @PhilBarrett @simongamester
Bogdan applied changes to Patient Summary Padding:
![sss9.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/7e809df4-c0d3-4741-bc9d-2571045509ab)

[2019-06-03 12:08] kuvakina commented on #47
@tony-shannon @PhilBarrett @simongamester
This one was fixed:
![sss0.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/d01a976f-4f21-46e2-91bb-086dd64d0c9a)

[2019-06-03 12:14] kuvakina commented on #39
@tony-shannon @PhilBarrett @simongamester

Bogdan made this:
![sss10.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/a9af6f85-020c-4456-8bcb-608a29de0445)

[2019-06-03 12:17] kuvakina commented on #46
@tony-shannon @PhilBarrett @simongamester

Bogdan changed it:
![sss11.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/dbbd1c5a-1506-4cb5-9231-5582f5ee5566)

[2019-06-03 12:50] tony-shannon commented on #25
this one needs ongoing updates please @kuvakina , until completion

[2019-06-03 12:53] tony-shannon commented on #17
ok, as discussed this needs a good writeup + /- screencast somewhere so it can easily be done again/by others.
Can you suggest who can help with that please @DmitrySolyannik

[2019-06-03 12:53] tony-shannon commented on #27
to discuss wiht @PhilBarrett
May close for now,
Node -Redis exploration progressing well as alternative approach

[2019-06-03 13:45] #36 closed

[2019-06-03 13:45] PhilBarrett commented on #36
Reviewed, working fine, thank you.

@tony-shannon this was a gremlin on NES as well, one for handover and for them to draw down?

[2019-06-03 13:53] PhilBarrett commented on #13
Reviewed, closing

[2019-06-03 13:53] #13 closed

[2019-06-03 13:59] PhilBarrett commented on #38
Yes please

[2019-06-03 14:05] PhilBarrett commented on #43
Result - https://drive.google.com/file/d/19T_oaLSnvkdK4DU6OSzkhYfHUlECYrAn/view

[2019-06-03 14:12] PhilBarrett commented on #23
That's fine for now, thanks Alexandra

[2019-06-03 14:12] #23 closed

[2019-06-03 14:35] PhilBarrett commented on #25
I've been doing some testing with Creates and working fine.
@Kuvakina can we get an update please on edits

[2019-06-03 14:54] PhilBarrett commented on #38
Confirmed by Bogdan as being completed and ready for review.

[2019-06-03 15:02] BogdanScherban commented on #33
I need in 8-10 h for #33, because I see a lot of elements like popup, selectors, rangelines etc.

Besides this, I want to clarify: what even should be performed by clicking "Search"?

As I understand correctly, I should create request to the server side. In this case I need in JSON example.

Until we don't have it, we can try to do this with dummy data.

[2019-06-03 15:03] PhilBarrett commented on #30
Orders and PROMS not recording correctly, Dima investigating

[2019-06-03 15:10] BogdanScherban commented on #61
This issue is related with this one:
https://app.zenhub.com/workspaces/ripple-combined-project-space-5c8be494fd0adb6f09c83d6b/issues/rippleosi/ripple-showcase-stack-project/60

The reason of errors is common.

I need in 2-4 h for both these issues.

[2019-06-03 15:11] BogdanScherban commented on #60
This issue is related with this one:
https://app.zenhub.com/workspaces/ripple-combined-project-space-5c8be494fd0adb6f09c83d6b/issues/rippleosi/ripple-showcase-stack-project/61

The reason of errors is common.

I need in 2-4 h for both these issues.

[2019-06-03 15:16] BogdanScherban commented on #31
This issue has been done particularly: we can hide/show columns in the patient list:
https://drive.google.com/file/d/1Dsst9qktXDdVG2n-VakQmXR2MVNTDiN4/view?usp=sharing

But columns "Date" and "Count" use dummy data, because we don't have request on the server side to get this information.

When this method will be created, we should return to this issue and provide "Date" and "Count" with real dat

[2019-06-03 16:59] simongamester commented on #42
@BogdanScherban This looks correct within the tables, however it looks like the top and bottom padding around the information (right) panels are now too close to the edges.

![Screenshot 2019-06-03 at 17 57 53](https://user-images.githubusercontent.com/8059219/58819962-3f94ac80-8629-11e9-94fc-620659ed2c38.png)

(See the label for 'Problem Issue'.

Also the Edit button is too close to the 'System I

[2019-06-03 17:00] simongamester commented on #35
Thanks @BogdanScherban

@PhilBarrett These look good to me.

[2019-06-03 17:05] simongamester commented on #40
@BogdanScherban The DIV containing panels also appears to now have a border, see screen...

![Screenshot 2019-06-03 at 18 03 01](https://user-images.githubusercontent.com/8059219/58820198-d6f9ff80-8629-11e9-8bef-fb3691314db1.png)

This means that a line now appears below panels.

Here's the div which I think has the padding applied.

![Screenshot 2019-06-03 at 18 02 14](https://user-images.githubu

[2019-06-03 17:10] simongamester commented on #41
@BogdanScherban This is caused because the View button doesn't have a white background by default, I think it's transparent. So when you hover over the row, you're seeing a transition on the button between transparent and white, but the row background changes to green immediately.

Also, please could you keep the green border on the View button when not hovering over it. It looks like the View but

[2019-06-03 17:12] simongamester commented on #41
@BogdanScherban I've also checked the Patient Summary and the rows within the widgets aren't hovering over in green.

[2019-06-03 17:13] simongamester commented on #44
@BogdanScherban @PhilBarrett Looks good to me :-)

[2019-06-03 17:14] simongamester commented on #45
@BogdanScherban @PhilBarrett Yes, this looks good.

[2019-06-03 17:15] simongamester commented on #47
Thanks @BogdanScherban

@PhilBarrett Ok with me.

[2019-06-03 17:17] simongamester commented on #39
@BogdanScherban I made a comment on this in another issue:

https://github.com/RippleOSI/Ripple-Showcase-Stack-Project/issues/41#issuecomment-498344290

Buttons now don't display correctly when not hovering.

[2019-06-03 17:18] simongamester commented on #46
@PhilBarrett Do we have an example of a patient with a doctor? Would be worth testing this before signing this off.

[2019-06-03 19:55] PhilBarrett commented on #46
@tony-shannon if it's been taken from NES work, I don't believe Doctor is in the address, so would need adding in to check

[2019-06-03 19:57] #47 closed

[2019-06-03 19:58] #45 closed

[2019-06-03 20:00] #35 closed

[2019-06-03 20:02] #44 closed

[2019-06-04 08:43] simongamester commented on #34
@kuvakina @PhilBarrett @tony-shannon Looking at Showcase, I think @BogdanScherban applied approach 2 from my earlier suggestion, so only a small css change to the layout div. Should only be a single line css change for implement to the other versions.

@BogdanScherban Was there a reason why you couldn't implement approach 1 i.e. targeting the div for the tooltip within the layout div?

[2019-06-04 08:44] simongamester commented on #38
@PhilBarrett Looks good to me!

[2019-06-04 08:45] simongamester commented on #37
@PhilBarrett This looks to be resolved.

[2019-06-04 08:51] simongamester commented on #43
@BogdanScherban I think you've implemented custom form styles rather than react-admin styles, see - https://app.zenhub.com/workspaces/ripple-combined-project-space-5c8be494fd0adb6f09c83d6b/issues/rippleosi/ripple-showcase-stack-project/43#issuecomment-497649584

I'd assumed that adopting react-admin form styling would be much easier than using custom forms as it would only require css to turn off

[2019-06-04 08:55] simongamester commented on #40
@BogdanScherban I've just spotted another issue with the panels, which may be related to this Issue: The Create panels for Procedures, Transfers of Care, and Vitals appear to have no white background and no borders, see below...

![Screenshot 2019-06-04 at 09.54.38.png](https://images.zenhubusercontent.com/5cc737542781b443a5657ce1/906e344d-3fb0-4b44-8dbf-55d8faf60cdb)

![Screenshot 2019-06-04 at 0

[2019-06-04 09:22] tony-shannon commented on #27
moving to Review for now

[2019-06-04 09:24] tony-shannon commented on #31
@BogdanScherban and @DmitrySolyannik to discuss how the MulitPatient View counts can be updated/migrated to Qewd C MS version

[2019-06-04 09:28] tony-shannon commented on #31
see this /counts API functionlity form earlier version
https://github.com/RippleOSI/Ripple-Qewd/search?q=%2Fcount&unscoped_q=%2Fcount

[2019-06-04 10:22] kuvakina opened #62 "Check changed templates for Problems and Proms on Showcase"
Ian added templates for Problems and Generic Proms on http://ethercis-demo.ripple.foundation:8080 .

Dima should check if everything works correctly on showcase now (dev)

[2019-06-04 12:15] BogdanScherban commented on #43
@simongamester

Thanks, Simon,

It depends on form content.

Simple form with simple elements can be done by RA-form customizing. For example:
https://github.com/PulseTile/PulseTile-RA/blob/showcase/src/core/plugins/Allergies/fragments/Inputs.js

If form includes complex custom elements, or if we can calculate/define some parameters separately (before request will be run) - in this case we should

[2019-06-04 12:17] BogdanScherban commented on #42
@simongamester

OK, so should I added:
1) padding bottom to Edit button?
2) padding right to Edit/Create/Details block?

[2019-06-04 12:19] BogdanScherban commented on #41
@simongamester

OK, should I add hovering to Patient Summary panels?
Because I remember that it was done but later we moved it.

[2019-06-04 12:29] simongamester commented on #43
@BogdanScherban Could you advise on effort required for both options please?

I'm not really too concerned which one we go with, just as long as it's consistent and easy to maintain in the long term. I'd assumed that react-admin approach would be easier.

[2019-06-04 12:51] kuvakina commented on #49
@tony-shannon @PhilBarrett
Bogdan made Vital Signs popover  viewable when hovered over:
https://drive.google.com/file/d/12mZdAu2g86Y75PueWxJB-4ra24F1yZ45/view

[2019-06-04 12:55] kuvakina commented on #25
|   | Create | Edit | Comment |
| :---: | :---: | :---: | :---: |
| **Clinical Notes** | yes | yes   |  |
| **Clinical Notes** | yes | yes   |  |
| **Clinical Notes** | yes | yes   |  |

[2019-06-04 13:05] simongamester commented on #42
I would suggest adding top and bottom padding to this element:

![Screenshot 2019-06-04 at 14.04.16.png](https://images.zenhubusercontent.com/5cc737542781b443a5657ce1/063aa139-ce81-40a5-9ba0-60812d0296c0)

Maybe padding: 10px 0;

[2019-06-04 13:06] BogdanScherban commented on #32
@tony-shannon @DmitrySolyannik

This is my POST-request to create new Vitals:
![Screenshot from 2019-06-04 16-00-39](https://user-images.githubusercontent.com/39263134/58881223-69f67080-86e2-11e9-9ec3-6df1cf7a7796.png)

Creation was successful. And you can see that oxygenSupplemental was **false** in request-JSON.

But look at list of Vitals, which we get after this:
![Screenshot from 2019-06-04 1

[2019-06-04 13:07] simongamester commented on #41
The only panels we want to add hovers on the patient summary are the rows within widgets i.e.

![Screenshot 2019-06-04 at 14.07.16.png](https://images.zenhubusercontent.com/5cc737542781b443a5657ce1/3d2ed103-e6d7-42fe-98be-63cd623e30fd)

[2019-06-04 13:10] kuvakina commented on #33
@tony-shannon @PhilBarrett

Dima has a look into this task and noticed that the search works somehow via QEWD base, but right now our search on sc-derva works via foreign module.  To understand how to redo it and redo it on the server side will take around 13-18h (without covering it with tests).

[2019-06-04 13:38] kuvakina commented on #25
@tony-shannon  @PhilBarrett  Tested sc-devra 04.06,2019 and noticed next:

|   | Create | Edit | Comment |
| :---: | :---: | :---: | --- |
| **Problems / Issues** | no | can't test   | When create the issue and click Complete btn, see that it was created: https://www.screencast.com/t/o5y2vmE4abp , but after save and reload, not getting any error messages either, but nothing in the message showing

[2019-06-04 14:28] tony-shannon commented on #33
@DmitrySolyannik  needs to discuss with @robtweed re means of migrating legacy functionality to QewdUp MS for this.. as probably quicker and easier

[2019-06-04 14:32] tony-shannon commented on #49
Very good , thanks

[2019-06-04 14:47] kuvakina commented on #61
@tony-shannon @PhilBarrett

Tested, the issue doesn't appear anymore.

[2019-06-04 15:36] kuvakina commented on #25
@tony-shannon  @PhilBarrett  Dima noticed the issue with roles, and now I can create next issues:

|   | Create | Edit | Comment |
| :---: | :---: | :---: | --- |
| **Problems / Issues** | yes | no | When edit the issue, save it and see result. But when you go on another issue or reload page, your saved issue disappear |
| **Medications** | yes | no | When edit the issue, save it and see result. B

[2019-06-04 15:40] tony-shannon commented on #25
thanks for update @kuvakina

@DmitrySolyannik to suggest next steps please

[2019-06-04 15:51] kuvakina commented on #46
Sorry, @PhilBarrett @simongamester could we consider this task as done?

[2019-06-04 15:54] simongamester commented on #46
Could @BogdanScherban send a screen with the Doctor field populated please? We have no way of confirming this field is being displayed correctly as none of the users in the showcase system have the Doctor field. A screenshot taken from dev would suffice.

[2019-06-04 16:09] kuvakina commented on #33
From chat:

**Dmitry**
Hello @Rob Tweed, can I ask you one question regarding Clinical Query, we have search functionality on showcase, that search patients by headings and as I see this functionality is absent in previous version of QEWD. As I understand now it should works via fhir-mpi MS and also should send requests to ethercis with "LIKE" queries?
Also one thing with mpv.getPatients - https:/

[2019-06-04 17:05] kuvakina commented on #26
@tony-shannon @PhilBarrett We can save Procedures right now.

[2019-06-05 07:55] BogdanScherban commented on #41
@simongamester

This issue has been done
https://drive.google.com/file/d/1yCdO-C18uSCybyg-7MVtZYwMSmPmXmUQ/view

[2019-06-05 08:17] BogdanScherban commented on #39
@simongamester

The issue has been done:
https://drive.google.com/file/d/1x_aXd87z8rbn3J0IwmLCLv4iCmEnrA0C/view

[2019-06-05 08:29] BogdanScherban commented on #40
@simongamester

This issue has been done:
https://drive.google.com/file/d/1TCDSq7fWhUXWlM-2mgNo7Jl3MZVjFhEb/view

[2019-06-05 08:31] BogdanScherban commented on #42
@simongamester

This issue has been done:
![Screenshot from 2019-06-05 11-30-34.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/e117144b-8bdf-4fd2-a78b-c36dad1288e3)

[2019-06-05 08:35] BogdanScherban commented on #34
@simongamester

Simon, could you please explain with code example, what do you mean in the first variant:
"target the tooltip div above to appear div within the layout class instead of the end of the body"

[2019-06-05 08:37] simongamester commented on #41
@PhilBarrett Looks good to me. Thanks Bogdan.

[2019-06-05 08:38] simongamester commented on #39
@PhilBarrett This has been done.

[2019-06-05 08:40] simongamester commented on #40
@BogdanScherban I can see you've added the white backgrounds, however the borders are still missing.

[2019-06-05 08:43] BogdanScherban commented on #46
@simongamester

Simon, doctor field was presented in the old Showcase (with ReactJS). It was possible, because server side returned infor about doctor:
![Screenshot from 2019-06-05 11-39-06.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/9702b97c-e618-45ee-90e1-9170bd844e23)

But in Showcase-RA we use other request for user information, and doctor's info is absent here generally

[2019-06-05 08:44] simongamester commented on #42
I think it's actually the div above this one that we need to apply padding to. The one you added the padding to doesn't include the edit button, which is still close to the edge. I've applied in my browser to give an example of how is should look...

![Screenshot 2019-06-05 at 09 42 39](https://user-images.githubusercontent.com/8059219/58942836-6f04ff80-8776-11e9-884d-2120f12f81a8.png)

[2019-06-05 08:53] simongamester commented on #34
@BogdanScherban When a tooltip is generated in the system, the html containing the text for the tooltip is added immediately before the end of the BODY tag, see example below.

https://drive.google.com/open?id=1CKnEOltifWiDIBEhi1yEgQU2Vr2WJjSI

Notice the extra html that is added at the bottom right of the screen.

Is it possible to get the tooltip html to be moved so it sits just before the end o

[2019-06-05 08:57] BogdanScherban commented on #42
@simongamester

Simon, I added borders:
https://drive.google.com/file/d/1s73upT7PzSUyGa7-Iqyj9_s7PeArfUno/view

[2019-06-05 09:05] simongamester commented on #46
Thanks @BogdanScherban

For the purposes of testing, I'd like to see this field displayed on the screen, so could you tweak your local copy temporarily so the doctor code block is called?

If you add a line below here, for example:

https://github.com/PulseTile/PulseTile-RA/blob/b8f13b912114f1aa50b67e45aab776827ddf7940/src/core/common/Topbar/fragments/PatientBanner.js#L23

Which manually overrides

[2019-06-05 09:06] simongamester commented on #42
Thanks @BogdanScherban much better :-)

@PhilBarrett can you mark as resolved please.

[2019-06-05 09:12] BogdanScherban commented on #34
@simongamester

Simon, could you please give me permission to this video?

Yes, I knew about this problem, and I tried to find a solution. I mean extra div with span, when we hover an icon...

But I didn't find a solution for this, and used second method (101vh) to prevent flicking.

[2019-06-05 09:23] BogdanScherban commented on #43
OK!

In first case (when we want to customize RA-form component), it is enough to do following:
[code]

Besides this, we should describe classes customRoot, customInput and customFormLabel. And we can also use FormGroup, FormLabel and other Material-UI components. Example, how to customize RA-form is presented here:
https://github.com/PulseTile/PulseTile-RA/blob/showcase/src/core/plugins/Allergies

[2019-06-05 09:25] simongamester commented on #34
OK understood.

Maybe there's another way to avoid the flicker. Instead of increasing the height to 101vh (to force a scrollbar), we could reduce to 98vh instead. This would mean the extra height taken up by the tooltip isn't ever enough to bring in the scroll bars.

Try updating the 101vh properties on these DIVs...

Layout DIV

![Screenshot 2019-06-05 at 10 22 02](https://user-images.githubuserc

[2019-06-05 09:29] simongamester commented on #43
Thanks @BogdanScherban It sounds like the second approach (custom forms elements) is the way to go then as it give us more flexibility in the future. You've already styled up elements this way, so I think we can close this issue.

@PhilBarrett can you mark this as resolved please?

[2019-06-05 09:49] BogdanScherban commented on #40
@simongamester

Sorry, Simon. Probably, I sent old video. Look:

![Screenshot from 2019-06-05 12-46-39.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/989cb420-9c2b-475b-8372-c997a198fceb)
![Screenshot from 2019-06-05 12-46-49.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/1924d437-ca20-4a69-bd7d-6af00f1c3d9e)
![Screenshot from 2019-06-05 12-46-59.png](https:

[2019-06-05 09:51] simongamester commented on #40
Thanks @BogdanScherban, looks good.

@PhilBarrett ok to mark as resolved.

[2019-06-05 09:52] #40 closed

[2019-06-05 09:54] #42 closed

[2019-06-05 09:54] #39 closed

[2019-06-05 10:05] PhilBarrett commented on #26
Thanks for the update @kuvakina. Procedures aren't saving correctly it would appear;

 - Procedure Performed By - reverts to 'performer' regardless of what is entered
 - I am unable to edit the date

Can you check your side please

[2019-06-05 10:06] #41 closed

[2019-06-05 10:12] #38 closed

[2019-06-05 10:13] #37 closed

[2019-06-05 10:33] PhilBarrett commented on #61
Same, closing as resolved

[2019-06-05 10:33] #61 closed

[2019-06-05 10:33] kuvakina commented on #60
This issue is done, @tony-shannon @PhilBarrett ,  you can see in the video: https://drive.google.com/file/d/10eEvmd84qbOVLfCfpG2Sui9QgsqazjXe/view

[2019-06-05 10:37] PhilBarrett commented on #60
Reviewed as well, working great, thank you

[2019-06-05 10:37] #60 closed

[2019-06-05 10:37] BogdanScherban commented on #46
@simongamester
OK, I added doctor (for test)

![Screenshot from 2019-06-05 13-36-54.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/318de507-ff35-4a0c-b00b-6ebdccc3c339)

[2019-06-05 10:42] BogdanScherban commented on #52
@PhilBarrett @tony-shannon
This issue has been done:
![Screenshot from 2019-06-05 13-41-45](https://user-images.githubusercontent.com/39263134/58950525-af28aa00-8797-11e9-9fb6-44447f9b321c.png)

[2019-06-05 10:43] BogdanScherban commented on #34
@simongamester

OK, I reduced to 98 - you can see at showcase-devra
Flicking is absent.

[2019-06-05 10:48] simongamester commented on #46
Thanks @BogdanScherban that looks fine to me.

@PhilBarrett this is done.

[2019-06-05 10:49] simongamester commented on #34
Much better!

@PhilBarrett Ok to mark as resolved now.

[2019-06-05 10:51] PhilBarrett commented on #49
I've reviewed and can't see the popover for Diastolic BP. could this be added please @BogdanScherban

[2019-06-05 10:56] #34 closed

[2019-06-05 10:58] #46 closed

[2019-06-05 11:05] DmitrySolyannik commented on #31
@tony-shannon this functionality already done in QEWD, so PulseTile can use it, route - api/patients/:patientId/counts

[2019-06-05 14:21] PhilBarrett commented on #58
Sub tasks completed, closing this Epic

[2019-06-05 14:21] #58 closed

[2019-06-06 08:32] BogdanScherban commented on #49
@PhilBarrett
Yes, I can add popover for Diastolic BP, but which range values should I use?

In old Showcase-ReactJS this info is absent:
http://dev.ripple.foundation/#/patients/9999999061/vitals/create

[2019-06-06 08:35] PhilBarrett commented on #49
![image_2019_06_05T16_15_23_092Z](https://user-images.githubusercontent.com/12699244/59018690-5eb85780-883e-11e9-84cf-cd6c0cc0618c.png)
@BogdanScherban please use these ranges for Diastolic

[2019-06-06 09:53] PhilBarrett opened #63 "Review of openEHR templates in use"
List all headings for showcase react.js and showcase React-Admin and map which templates / versions are in use for both dev and demo environments.

[2019-06-06 09:58] tony-shannon opened #64 "Add an extra Role in OIDC for Showcase Stack"
Need to get both PHR and IDCR roles working again with our showcase stack , so need to revisit this in authentication service

[2019-06-06 09:58] PhilBarrett commented on #25
This is linked with RBAC issue which needs updating to create two roles (Patient and Doctor).

See #64 for details

[2019-06-06 09:59] tony-shannon commented on #64
Need estimate of effort from @Robtweed to reinstate at least  2 roles (PHR & IDCR) & related RBAC in the stack via either;
- hard code another role into Qewd-Courier
- add another role to OIDC
- and/or switch to Auth0

need discussion with @DmitrySolyannik

NB See here for user/role logic from earlier version
https://github.com/RippleOSI/Ripple-Qewd/blob/master/lib/user/user.js

[2019-06-06 10:03] tony-shannon commented on #31
@BogdanScherban  to check first then if problems @DmitrySolyannik to check it please

[2019-06-06 10:20] PhilBarrett commented on #52
@simongamester are there icons we can use in the React-admin version (thinking font awesome) that replicate the filter and expand icons from the old showcase

React-Admin showcase that needs to change
![Screen Shot 2019-06-06 at 11.19.53.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/3e67dcc4-d2fe-4fd2-9bdf-2578f3982e1e)

to react.js showcase
![Screen Shot 2019-06-06 at 11.19.4

[2019-06-06 10:22] PhilBarrett commented on #32
@kuvakina providing update following checks

[2019-06-06 12:24] tony-shannon opened #65 "Add Respect plugin to showcase"
The NES Respect plugin should work within showcase-devra env

if we add
PulseTile RA component Respect
Qewd Respect Transform
EtherCIS respect template

& pick the right patient record

need estimate of effort & consideration of any risk please

[2019-06-06 15:17] BogdanScherban commented on #49
@tony-shannon @PhilBarrett

I have a Q about values in this table. Please, look at the rangeline for Systolic pressure in Showcase-ReactJS:
![Screenshot from 2019-06-06 18-13-50.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/edcee9b7-92e0-47f1-a91b-01249cc7f41e)

1) You can see, that it has two limits - left and right. At the table upper we can see only right limit (from green-

[2019-06-07 10:10] tony-shannon commented on #29
We need to revisit the functionality in earlier version;

Basic search; Name or ID#( eg NHS#) I believe
Advanced Search: Name or NHS# and Age/DOB and Gender
Clinical Query; eg Problems contains Asthma and Age  + Gender

Charts; which uses Location and Age- we are doing to revisit charts anyway (we can park location for now)

[2019-06-07 10:22] tony-shannon opened #66 "Charts Upgrade"
We are revisiting the Charts for the Showcase and @simongamester  is working on UX improvements

for now we will work on basis of DataSet with 4 key elements

Age
Location (PostCode)
Gender
Diagnosis (Measles/Asthma/Diabetes/Dementia)
Healthscore (1-100)

Will need a dataset with 100-1000 records of this sort to enable chart manipulation at the BI level
Will be deidentified data

Will click throug

[2019-06-07 10:27] tony-shannon commented on #66
Related wireframes in progress
https://invis.io/WYSC631V6XA#

[2019-06-07 12:00] kuvakina commented on #65
There shouldn't be any risks, as it's about copy folders, build the project and test functionality

Approx estimated time is 1,5-2h

[2019-06-07 13:06] BogdanScherban commented on #31
@DmitrySolyannik @tony-shannon

I checked, api/patients/{id}/count work on the showcase-devra and locally.

This request works, but returned empty array.

![Screenshot from 2019-06-07 16-04-01.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/bb94a36d-0b3e-449f-8b9d-bb765b4baa6b)

![Screenshot from 2019-06-07 16-04-11.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b2

[2019-06-07 13:12] tony-shannon commented on #31
ok thanks, @DmitrySolyannik to investigate the empty array and EtherCIS response please

[2019-06-10 08:12] PhilBarrett commented on #29
Linked with #22 #33

@DmitrySolyannik to address

[2019-06-10 08:24] tony-shannon commented on #49
![image.png](https://images.zenhubusercontent.com/5c8be461fd0adb6f09c83d64/f4bf035e-d156-4978-9076-49bd8164e882)

Going to park /close this issue for now as DBP not in NEWS scor

[2019-06-10 09:17] BogdanScherban commented on #33
Client side of this issue has been done:
https://drive.google.com/file/d/1ZNGVazp8EeHBptjzou8osKDJF6z0wXyQ/view

The next step of this issue - add request to the server side with search information. To do this we need know:
1) request url;
2) structure of request JSON.

 When server side will be ready we'll add request running with redirect to the patients list.

[2019-06-10 09:22] BogdanScherban commented on #52
@simongamester @PhilBarrett

We used icons from these free library:
https://material.io/tools/icons/?icon=3d_rotation&style=baseline
https://fontawesome.com/icons?d=gallery

But we didn't find required free icons, and used presented.

[2019-06-10 09:24] simongamester commented on #52
@PhilBarrett Yes, assuming the react-admin version uses FontAwesome 5, you could use the following:

To expand full screen:
https://fontawesome.com/icons/expand-alt?style=solid

Then to collapse full screen:
https://fontawesome.com/icons/compress-alt?style=solid

Filter icon can be found here:
https://fontawesome.com/icons/filter?style=solid

I'm not sure how Bogdan has coded the icon into the UI,

[2019-06-10 09:31] simongamester commented on #52
Maybe you're using version 4?

Expand in v4
https://fontawesome.com/v4.7.0/icon/expand

Collapse in v4
https://fontawesome.com/v4.7.0/icon/compress

Filter:
https://fontawesome.com/v4.7.0/icon/filter

[2019-06-10 09:43] BogdanScherban commented on #32
I checked - it works. I created new Vitals with Oxygen Supplemental - false:
![Screenshot from 2019-06-10 12-31-38.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/32c2cda6-469c-4117-9c24-0956c3288160)
![Screenshot from 2019-06-10 12-31-56.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/c17f05ba-6391-4171-8432-c999345b8d7f)

As result we can see false in detail

[2019-06-10 10:50] simongamester commented on #57
A couple of questions on this:

1. Should the emergency summary exist within the the right hand panel on MPV or are adding a button in MVP to take the user straight to the Emergency Summary section with the patient record?

2. What fields within the items you've listed should we be showing in the Emergency View?

Thanks,

Simon

[2019-06-10 11:05] PhilBarrett commented on #57
Can we see how both would look please.
In terms of the fields, I'd suggest taking the summary view information for last 5 entries and the chart view for vitals. from there, again you can drill into the detail, taking you into that heading.

[2019-06-10 11:09] PhilBarrett commented on #49
@BogdanScherban please can you remove the logic that sets the background to green/amber/red
![Screen Shot 2019-06-10 at 12 07 59](https://user-images.githubusercontent.com/12699244/59191838-824e0b80-8b78-11e9-911d-c8ec94fe0e8c.png)

Also remove the popover for diastolic

![Screen Shot 2019-06-10 at 12 07 46](https://user-images.githubusercontent.com/12699244/59191866-9bef5300-8b78-11e9-857a-35bd2e

[2019-06-10 11:46] BogdanScherban commented on #66
@tony-shannon @PhilBarrett

I investigated this issue and have a lot of questions about it. Besides this, I prepared my estimation of this task.

**STEP 1 (2-3 h)**

At this step we should create new page (Business Intelligence) with two main elements:
- search parameters block (without form!);
- main block with right sidebar, which will change main block content (Bar Chart, Pie Chart, Heat Map);

[2019-06-10 11:48] BogdanScherban commented on #49
@PhilBarrett
Only for diastolicBP? Or for all other values?

[2019-06-10 12:08] BogdanScherban commented on #49
OK, I've removed this logic from diastolicBP.

[2019-06-10 12:11] BogdanScherban commented on #65
@PhilBarrett @tony-shannon

This issue has been done:
https://drive.google.com/file/d/1kH2l8gEiiNdNfIEhQwhDq2gUAYPx8K-8/view

But because of server side problems two sections aren't saved totally (as same as in Nes-dev):
![Screenshot from 2019-06-10 15-10-53.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/e3d8bcc7-d868-4b65-8581-40c783d32d1f)
![Screenshot from 2019-06-10 15-11-0

[2019-06-10 12:38] PhilBarrett commented on #49
Closing issue. thanks Bogdan

[2019-06-10 12:38] #49 closed

[2019-06-10 14:22] BogdanScherban commented on #52
@PhilBarrett @tony-shannon

The issue has been done:
![Screenshot from 2019-06-10 17-20-09.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/8f2529d7-60de-4256-aa6a-06c0f89460eb)

[2019-06-10 14:27] PhilBarrett commented on #52
Reviewed and working fine.

[2019-06-10 14:27] #52 closed

[2019-06-10 15:00] simongamester commented on #57
@PhilBarrett I've added an emergency view into the Showcase InVision project for reference. This summarises the top 5 records for each section with an option to 'Show All' if the list is truncated.

https://invis.io/KPS95C2ZR6X#/367885080_MPV_View_Record___Emergency_View

If we were to move this into the Single Patient View, there would be overlap with the Patient Summary screen, so not sure if th

[2019-06-10 17:27] simongamester commented on #66
@BogdanScherban A few answers to some of your questions.

### Step 1

4. Here are the icons:
https://drive.google.com/file/d/1fsgcUBkMA4bdZHtKRAAd6VgqbzOffBmm/view?usp=sharing

5. This icon at the top (Orange on white background) shows that the the filter form is in an expanded state. When the user clicks this icon, the filter form (By Age, Health Score, Diagnosis etc) will collapse and the icon w

[2019-06-10 19:56] PhilBarrett opened #67 "Update React.js showcase (old version) with latest PROMS template on EtherCIS 1.3"

[2019-06-11 08:49] tony-shannon commented on #65
@DmitrySolyannik  to update this issue, wiht recommended fix

[2019-06-11 08:50] tony-shannon commented on #33
@DmitrySolyannik will need to look at next

[2019-06-11 08:57] PhilBarrett opened #68 "FHIR Server investigation"
Explore https://github.com/nhsx/open-source-fhir-server

[2019-06-11 09:12] PhilBarrett opened #69 "Global change for pagination"
When creating new entry for any of the headings or patient it doesn’t appear, I have to either refresh or click on pagination arrow and then go back to see the result.

[2019-06-11 09:15] PhilBarrett opened #70 "Remove T&C upon login for Showcase"
No longer required.

[2019-06-11 09:38] BogdanScherban commented on #26
@tony-shannon @PhilBarrett @DmitrySolyannik

I fixed this issue on the client side - time and data are saved. But look:
https://drive.google.com/file/d/1CAQmyNbabvNrQVgLc7REDKDAlfVfHt1W/view

Date and time are saved with difference to initial value.

[2019-06-11 10:12] PhilBarrett opened #71 "Font typeface inconsistencies"
Please can there be a brief review of showcase as I can see typeface/size inconsistencies with data entry and the initial loading messages when you log in for example

[2019-06-11 10:19] PhilBarrett opened #72 "MPV - unable to drill down into the record from counts or date/time into that detail"
In the old showcase (react) we had the ability to click on either counts or dates for any of the headings in the multipatient view (patient lists) and be taken to that heading list view for the patient.

In react-admin this function isn't available and would be helpful.

[2019-06-11 10:25] PhilBarrett opened #73 "SPV - Patient summary screen"
- [x] Changes to settings cog, removing Feeds
 - [ ] Adding "headings + List" for ReSPECT so it's consistent with other tiles on the patient summary

[2019-06-11 10:26] PhilBarrett opened #74 "Vitals - aren’t numbered in list view"
![Screen Shot 2019-06-11 at 11.26.14.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/348467e4-a8df-4483-999d-b7aa7d24a768)

[2019-06-11 10:31] PhilBarrett opened #75 "Entries trying to save to Marand, not EtherCIS"
**Problems/diagnosis**

Plus edits not saving

- {"error":"#1.0.0 Invocation exception to method:update:java.lang.IllegalArgumentException: Could not convert JSON map:com.marand.thinkehr.a.b: Unable to convert value to DateTime: 1.1738304E12 (path: problem_list/problems_and_issues:0/problem_diagnosis:0/date_time_of_onset)","path":"/api/patients/:patientId/:heading/:sourceId"}

**Medications**
savi

[2019-06-11 10:34] PhilBarrett opened #76 "Headings not saving/saving incorrectly"
- [ ] **Contacts** - displaying author as Tony Shannon - not Test User
 - [ ]**MDT** is not recording the following fields
 - Questions for MDT
 - Meeting discussion

 - [ ]**Procedure date** - not recording
 - [ ]**Transfers of care** not recording
Plus data not being retrieved from entries selected from Referrals

[2019-06-11 10:36] PhilBarrett opened #77 "Showcase Devra refinement"

[2019-06-11 10:37] PhilBarrett commented on #77
@kuvakina please can estimates be added to these tasks, thanks.

[2019-06-11 10:47] PhilBarrett commented on #26
Reviewed also and working fine, thank you.

[2019-06-11 10:47] #26 closed

[2019-06-11 11:04] DmitrySolyannik commented on #65
This issue relates to #71 (https://github.com/QEWD-Courier/QEWD-Courier/issues/71), for now we should use manual solution
1)You should go to terminal and access to openehr docker container ( e.g. **docker exec -it openehr_service /bin/bash** )
2) Copy and past those variables - https://github.com/robtweed/qewd/blob/master/docker-server/ydb (copy line 3-20) and just past to command line and press e

[2019-06-11 13:44] kuvakina commented on #75
@tony-shannon @PhilBarrett

Sorry, but where I can check it?

[2019-06-11 13:51] kuvakina commented on #76
@tony-shannon @PhilBarrett

You mean this date? https://www.screencast.com/t/RmXmtEMA5ivw

Which data did you mean? I see all dates: https://www.screencast.com/t/GLzHR01beF

Also noticed, that date in MDT not recording: https://www.screencast.com/t/RvtNTAnD6

[2019-06-11 13:53] tony-shannon commented on #64
updated discussion with RT on this

_Yes - if he wants to start work on it, all he needs to do is set/change the role property/claim in the JWT to either IDCR or PHR (or whatever values you want to use for these roles), and modify the application logic in QEWD Courier appropriately - he don't need to wait till the role is coming back from the OIDC provider_

_it's just a property in the JWT that h

[2019-06-11 13:56] kuvakina commented on #74
@tony-shannon @PhilBarrett

For this task, Bogdan needs 2-3 hours

[2019-06-11 14:03] kuvakina commented on #76
@BogdanScherban Could you please take a look on this:

Client side doesn't send Author to the server https://www.screencast.com/t/y8i071dcdE

[2019-06-11 14:28] PhilBarrett commented on #76
@kuvakina i've updated the issue now, sorry for the confusion.

[2019-06-11 14:40] BogdanScherban commented on #69
@tony-shannon @PhilBarrett

I need in 1-2 h for this issue.

[2019-06-11 14:41] BogdanScherban commented on #70
@tony-shannon @PhilBarrett

I need in 10 min for this issue, but only Dima can upload user login part. I'll prepare changes and ask him to upload it.

[2019-06-11 14:45] BogdanScherban commented on #71
@tony-shannon @PhilBarrett

Could you please clarify, where we should change font typeface? Screenshots would be very helpful.

[2019-06-11 14:49] BogdanScherban commented on #72
@tony-shannon @PhilBarrett

Do you mean that when we click on any cell in a row modal window should appear?

On Nes and OneLondon we can see patient details. We don't need it in Showcase?

[2019-06-11 14:55] BogdanScherban commented on #73
@tony-shannon @PhilBarrett

Do you mean to remove only Feeds from here?
![Screenshot from 2019-06-11 17-52-13.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/e216a378-d828-4e84-be9e-aae6184ef351)

Do you mean to add four latest versions to Respect panel?
Should Respect be also added to settings cog?

[2019-06-11 14:56] PhilBarrett commented on #72
Ignoring the fact that counts aren't displaying in react version, please see video for what actually happens.

![MPV](https://user-images.githubusercontent.com/12699244/59282827-6f633600-8c61-11e9-8f46-aa432ef67a94.gif)

[2019-06-11 14:58] BogdanScherban commented on #76
@PhilBarrett @kuvakina @tony-shannon

I need 0.5 h for this issue to fix it

[2019-06-11 15:10] kuvakina commented on #76
Thank you, @PhilBarrett

[2019-06-11 15:12] PhilBarrett commented on #73
None of the feeds are working, nor are they added to the patient summary screen. If it's easy to get working again, for say NYtimes, Public Health and Medical news today, then please do, removing other options. Or three non city based feeds.

Please add ReSPECT to the cog and Respect last 4 entries, so it all is uniform.

[2019-06-12 10:57] kuvakina commented on #76
@PhilBarrett @tony-shannon

This one we have in templates:
![qqqqqqqqqqqqqq.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/f2b22cf0-2e13-4358-943e-f178b8d43bbc)

Should Dima redo templates? Should be there default name? Or the one Doctor put?

[2019-06-12 12:25] kuvakina commented on #31
**from Skype: **

**from Dima**
Hello Ian, could you please check "counts" heading if you have free time, for some reason I am getting empty result
Here is my request:
{"url":"http://ethercis1.3-test.ripple.foundation:8080/rest/v1/query","method":"GET","qs":{"aql":"select e/ehr_id/value as ehrId, a/context/other_context[at0001]/items[at0005]/value/magnitude as diagnosesCount, a/context/other_conte

[2019-06-14 07:55] PhilBarrett commented on #71
@kuvakina I'd like this to be covered as part of the review process. I've included two examples already

[2019-06-14 12:17] BogdanScherban commented on #74
@tony-shannon @PhilBarrett

This issue has been done:
![Screenshot from 2019-06-14 15-17-32.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/156fc93e-8365-4344-aff5-a7a8c0e880c2)

[2019-06-14 12:19] BogdanScherban commented on #73
@tony-shannon @PhilBarrett

This issue has been done:
![Screenshot from 2019-06-14 15-18-12.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/66174e00-733e-4505-a7c7-5d0cb97aed65)
![Screenshot from 2019-06-14 15-18-51.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/909803f4-93bf-4f15-9fcb-67afc01c2ffe)

[2019-06-14 12:21] BogdanScherban commented on #72
@tony-shannon @PhilBarrett

This issue has been done:
https://drive.google.com/file/d/1v806DUDSkRQjDfIyVvEb8t4DVZQ0ppei/view

[2019-06-14 12:24] BogdanScherban commented on #69
@tony-shannon @PhilBarrett

This issue has been done:
https://drive.google.com/file/d/1zM3vz2Tz0ol5DWQo3UPeVQIZP6hmtlWZ/view

[2019-06-14 13:28] kuvakina commented on #30
@PhilBarrett Ivor Cox (9999999001) was to Showcase, Should we also add 9999999006 - Ezra Gordan and 9999999004 - Philip O'Connor ?

[2019-06-14 13:57] kuvakina commented on #32
Noticed that issue with radio buttons still present. Bogdan is looking into it.

[2019-06-14 13:58] BogdanScherban commented on #70
@tony-shannon @PhilBarrett

This issue has been done

[2019-06-14 14:05] BogdanScherban commented on #32
@tony-shannon @PhilBarrett

This issue has been done:
https://drive.google.com/file/d/1FfpXAAJBbCqLH3K8JjtepCA_VM-ae9he/view

[2019-06-14 14:22] kuvakina commented on #70
@PhilBarrett @tony-shannon

You can see result in the video: https://drive.google.com/file/d/1PvUn6KeOd2WV5bjM0gnv4FNxaJascpT9/view

[2019-06-14 14:35] BogdanScherban commented on #76
@tony-shannon @PhilBarrett

Contacts was fixed.

[2019-06-14 14:40] kuvakina commented on #63
@tony-shannon @PhilBarrett
I've checked if EtherCIS1.3 and EtherCIS-demo are matching here: https://docs.google.com/spreadsheets/d/18VNGRjsZYmp-MnuyMBt4WjMmAQ6H7Wp2En5ePPULygc/edit#gid=1415600606

And also checked which version we use in current QC (https://github.com/QEWD-Courier/QEWD-Courier/tree/develop/main/openehr_service/headings)

Should I compare anything else?

[2019-06-17 14:31] PhilBarrett commented on #77
See https://youtu.be/Aq3DrEq-Akc for further refinement tasks.

[2019-06-17 14:32] PhilBarrett commented on #71
This is for both the Loading spinner and for charts

[2019-06-17 14:34] PhilBarrett commented on #72
This must not have been uploaded as I still encounter the same issue.

[2019-06-17 14:35] PhilBarrett opened #78 "Charts refinement"
- Text typeface is inconsistent
 - Spacing at bottom, spacing inbetween bars (see showcase.r.f)
 - Not responsive
 - Can’t click from charts to MPV

[2019-06-17 14:36] PhilBarrett opened #79 "Multi Patient View / Patient lists refinement"
- Unable to click on View Orders / View Results to take me to the SPV of that patient and that heading
 - Unable to click on list view for Date/Time or Count and take me to the SPV of that information
 - System information and source for Patient address not present
 - Rendering incorrect when you expand the details pane on a patient
 - Not responsive

[2019-06-17 14:37] PhilBarrett opened #80 "Single patient view refinement"
- Feeds don’t appear on home screen when selected so no way of knowing if they work
 - Not responsive
 - Records are not available in Transfers of care

[2019-06-17 14:56] PhilBarrett commented on #32
@kuvakina Testing/reviewing and to update here

[2019-06-17 15:00] PhilBarrett commented on #56
See https://projects.invisionapp.com/d/main#/console/17676051/366936553/preview from @simongamester . UX work now complete so looking for estimates before work commencing on this development

[2019-06-17 15:02] PhilBarrett commented on #65
@kuvakina - moving to review. Please can you update here. Does this need adding to documentation?

[2019-06-17 15:24] PhilBarrett commented on #75
These still exist, see 8111133448

[2019-06-17 15:25] PhilBarrett opened #81 "Remove start time from Medications"
No longer required

[2019-06-17 15:27] PhilBarrett commented on #76
@kuvakina can we get an update here please.

[2019-06-18 07:24] BogdanScherban commented on #78
@tony-shannon @PhilBarrett

I need in 1-1.5 h for these items:

But could you please clarify this moment:

Now click on the Bar redirect us to the patient list. But it is empty, because we don't have possibility to get patients by age or by Neighbourhood / Hospital / Mental Health etc.

[2019-06-18 07:37] BogdanScherban commented on #79
@tony-shannon @PhilBarrett

It is because we don't have pages for the plugins Orders and Test Results. If you click on Vitals or Problems - you can see that it redirect you to vitals or problems page in SPV:
https://drive.google.com/file/d/1j-lyJEWaQoNL9PTdj2hCmpiamcKXgTdg/view

It is because server doesn't return info about source and dateCreated. Should I remove system information panel for pati

[2019-06-18 07:58] BogdanScherban commented on #80
@PhilBarrett @tony-shannon

Feeds work at my local QWED:
https://drive.google.com/file/d/1uaFyUZqt2DImSyRc-U2YW8czOUL8GKNf/view

But don't work at Showcase-Devra:
![Screenshot from 2019-06-18 10-43-24.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/6d54b4d6-e2b3-4744-a74e-321b0bf91456)
![Screenshot from 2019-06-18 10-43-34.png](https://images.zenhubusercontent.com/5cd92c639c62ea

[2019-06-18 07:59] BogdanScherban commented on #81
@tony-shannon @PhilBarrett

I need in 0.5 h for this issue.

[2019-06-18 08:00] BogdanScherban commented on #72
@PhilBarrett

Click on Vitals or Problems redirects to SPV, but click on Results and Orders can't do this. Because we don't have this pages.

[2019-06-18 08:02] tony-shannon commented on #64
@DmitrySolyannik can you consider an interim hack to add behaviour
eg

if user email == ivor.cox@gmail.com
then userrole = PHR and NHS# = 9999990000
else userrole = IDCR

[2019-06-18 08:11] PhilBarrett commented on #76
Please can ' performer' be hardcoded to "Dr Smith" for procedures.

[2019-06-18 08:23] PhilBarrett commented on #79
- System information and source for Patient address not present

Remove Date and change Source to "FHIR MPI Service"

[2019-06-18 08:31] PhilBarrett commented on #31
@DmitrySolyannik to mock up dummy counts API for 5/8 clean records

[2019-06-18 08:38] tony-shannon commented on #33
suggest this search starts with openEHR
search Diagnosis Contains Asthma
then get to EHR Ids
& map back to FHIR service for demographics
& display results

[2019-06-18 09:25] PhilBarrett commented on #72
Agreed to remove Results / Orders

[2019-06-18 09:49] kuvakina commented on #75
@DmitrySolyannik could you check it, please?

[2019-06-18 09:59] kuvakina commented on #76
@DmitrySolyannik  could you please do it?

[2019-06-18 10:01] kuvakina commented on #79
Remove Date and change Source to "FHIR MPI Service"

@DmitrySolyannik  could you please do this

[2019-06-18 10:04] PhilBarrett opened #82 "React Admin github notifications"
See screenshots

![Screen Shot 2019-06-18 at 10.48.52.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/435b565c-d23f-43ed-84a8-0626879aa77d)![Screen Shot 2019-06-18 at 10.53.20.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/4cd2b361-2b63-4b3b-8610-a118019dee5f)![Screen Shot 2019-06-18 at 10.53.36.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fdd

[2019-06-18 10:07] kuvakina commented on #80
@DmitrySolyannik  could you please check CORS?

[2019-06-18 10:08] kuvakina commented on #81
@DmitrySolyannik could you please check templates to see if we can remove start time from Medications

[2019-06-18 10:09] kuvakina commented on #33
search Diagnosis Contains Asthma
then get to EHR Ids
& map back to FHIR service for demographics
& display results

@DmitrySolyannik

[2019-06-18 10:21] kuvakina commented on #71
@BogdanScherban please fix this one

[2019-06-18 10:23] kuvakina commented on #79
@BogdanScherban
please hide these:

and remove this:

Remove Date

[2019-06-18 12:39] PhilBarrett commented on #69
Reviewed and closing, thank you

[2019-06-18 12:39] #69 closed

[2019-06-18 13:15] PhilBarrett commented on #70
Confirmed as removed.

[2019-06-18 13:15] #70 closed

[2019-06-18 13:17] #73 closed

[2019-06-18 13:17] PhilBarrett commented on #74
Reviewed and closing, thanks

[2019-06-18 13:17] #74 closed

[2019-06-18 13:19] PhilBarrett commented on #48
Design work signed off, moving back to development now

[2019-06-18 13:53] BogdanScherban commented on #72
@tony-shannon @PhilBarrett

This issue has been done:
![Screenshot from 2019-06-18 16-53-20.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/814c0948-fc4d-4617-96f6-92baa4ff8050)

[2019-06-18 13:54] BogdanScherban commented on #79
@tony-shannon @PhilBarrett

This issue has been done:
![Screenshot from 2019-06-18 16-54-17.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/b712eaab-3bed-4f2a-9c88-2913c8cf8f38)

[2019-06-18 13:56] PhilBarrett commented on #79
Just awaiting this update, then will close.

[2019-06-18 14:49] BogdanScherban commented on #81
@tony-shannon @PhilBarrett

This issue has been done:
![Screenshot from 2019-06-18 17-48-31.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/d9be3824-e589-4821-bf0f-91a35bbe8698)

[2019-06-18 14:56] PhilBarrett commented on #81
Reviewed and happy to close, thanks

[2019-06-18 14:56] #81 closed

[2019-06-18 15:08] kuvakina commented on #72
related to #31

[2019-06-18 15:14] #48 closed

[2019-06-18 15:14] tony-shannon commented on #48
add this to emergency summary view for now
#57

[2019-06-18 15:17] tony-shannon commented on #56
json example should be ;

{
ptID: randomID_AXKU123
Age: 45
Diagnosis: Diabetes
Healthscore: 35
Gender: Male
}

[2019-06-19 10:15] BogdanScherban commented on #71
@tony-shannon @PhilBarrett

This issue has been done:
https://drive.google.com/file/d/16RdUVkfWM0pAvHZwe7WAucP2x33htzhK/view

[2019-06-19 10:19] PhilBarrett commented on #71
Work completed - https://drive.google.com/file/d/16RdUVkfWM0pAvHZwe7WAucP2x33htzhK/view

[2019-06-19 10:37] PhilBarrett opened #83 "Showcase theming"
Theming of the new showcase to match the designs undertaken by Simon
https://projects.invisionapp.com/d/#/console/17651701/365945974/preview

Note: this isn't including the new 'Events' functionality

See here for assets - although we'd like to use the PulseTile logo and favicon please
https://github.com/simongamester/UserLogin_Theme-Showcase/tree/master/assets

[2019-06-19 11:59] BogdanScherban commented on #78
@tony-shannon @PhilBarrett

I'm working on #78, and following items were done and upload to this moment:

The last issue isn't work on Showcase-Devra because QWED should be updated. For  this reason I show local result:
https://drive.google.com/file/d/1RscV25f7g1q3C4t0Klo_qjefkYDY9so-/view
_______________________________________________________________________________

But I have one problem, whic

[2019-06-19 12:01] PhilBarrett commented on #78
I like the sound of that Bogdan, good suggestion, thank you.

[2019-06-19 12:16] BogdanScherban commented on #57
@tony-shannon @PhilBarrett

I have few questions about this issue:

1) As I understand correctly, I should add Emergency Summary expanded panel instead of System Information?

2) What should View button (in Emergency Summary panel) do? Redirect to SPV via Patient Access Disclaimer?

3) What should Show All do? Open total list or redirect to Allergies/Medications page?

4) Could we create one singl

[2019-06-19 13:21] kuvakina commented on #31
@tony-shannon @PhilBarrett

We checked how Counts are working on dev.r.f. and showcase.r.f., but we noticed that they return empty array. You can see it in the video:
https://drive.google.com/file/d/1aBFcIgyMmOlJ6gTMuEhemrUmA3kqjYrR/view

Could we have help from @robtweed  re what should be in response for Counts?

[2019-06-19 13:31] kuvakina commented on #72
@tony-shannon @PhilBarrett

Bogdan made it so now by clicking on Vitals or Problems we are forwarded to the issue:
https://drive.google.com/file/d/1yL0u4ACxNMStw4mm5oY3ZGeOezgy8Ol-/view

Can we consider this task as done?

[2019-06-19 13:38] PhilBarrett commented on #57
Please refer to this for the agreed Emergency summary view
https://projects.invisionapp.com/d/#/console/17651701/369158349/comments

And toggle between different views
https://projects.invisionapp.com/d/#/console/17651701/365946174/comments

re questions raised

**1**  Where can we get patient photo (and which format) - **see #48**
**2** Where can we get weight & BMI - please put dummy info in for

[2019-06-19 13:40] PhilBarrett commented on #72
Thanks @kuvakina

[2019-06-19 13:40] #72 closed

[2019-06-19 13:57] BogdanScherban commented on #78
@tony-shannon @PhilBarrett

Responsive issue also done:
https://drive.google.com/file/d/15ZpM3B8ZMET7ntMOp0F0cMk4yAfjyLMb/view

[2019-06-19 14:04] PhilBarrett commented on #55
See following for what we're looking to achieve following refinement by Simon
https://projects.invisionapp.com/d/#/console/17651701/366869277/comments
https://projects.invisionapp.com/d/#/console/17651701/366875604/comments
https://projects.invisionapp.com/d/#/console/17651701/366875603/comments
https://projects.invisionapp.com/d/#/console/17651701/366896562/comments

[2019-06-19 14:08] PhilBarrett opened #84 "Test Results Module"
We're looking to reproduce the test results module from the react.js variant but in React-Admin

http://docs.pulsetile.com/react-test-results.html

[2019-06-21 07:28] BogdanScherban commented on #48
1) Where can we get:
- patient photo (and which format);
- weight
- BMI
2) As I understand correctly, color of Weight and BMI diagram should changed depends on value? In this case I should know principle of color definition
3) Oxygen Saturation, Blood Pressure, Systolic and Diastolic pressure - from the latest Vitals?
4) What is "Lab results"? Is it "Test Results" from the old Showcase?

And the l

[2019-06-21 14:59] PhilBarrett commented on #55
Estimated 10-12hrs. @tony-shannon to discuss on Monday.

[2019-06-21 15:01] kuvakina commented on #80
This one relater to the issue #20

[2019-06-21 16:01] kuvakina commented on #79
@PhilBarrett changes in this PR https://github.com/QEWD-Courier/fhir-mpi/pull/1 .

[2019-06-21 16:15] BogdanScherban commented on #48
@tony-shannon @PhilBarrett

Part of this issue has been done and I upload my results on Showcase-Devra:
https://drive.google.com/file/d/1sHs4cVtitHJTuoRNhJKd9Nj_jWb-xhFf/view

Few words about results:
1) Switcher between Patient summary panels and Patient Summary roll - done;
2) Patient photo - random, from https://randomuser.me/photos
![Screenshot from 2019-06-21 19-14-31](https://user-images.git

[2019-06-24 07:26] BogdanScherban commented on #84
@tony-shannon @PhilBarrett

This issue has been done:
https://drive.google.com/file/d/1JAGs85KpAf5XnMwhrz6mmUp2GXwnuUnU/view

[2019-06-24 08:34] PhilBarrett opened #85 "Showcase Bugs/tidyup 24/6/19"
- [ ]  Counts
 - [x] Address issue
 - [x] Responsive issues (MPV)
- [x]  Profile picture
- [x] Empty/dummy result
- [x] Line between Problems/medications/allergies not clear enough
- [x] Discuss timeline events
- [x] Copyright notice states 2018, needs updating please
 - [x] - Please can you add these two further hardcoded entries underneath Height:
CPR Status For active CPR
Blood Group O+
Donor s

[2019-06-24 08:36] PhilBarrett commented on #64
Awaiting PR from @DmitrySolyannik

[2019-06-24 08:37] PhilBarrett commented on #68
@DmitrySolyannik  Can this be updated please?

[2019-06-24 09:32] PhilBarrett commented on #66
https://projects.invisionapp.com/d/main#/console/17676051/366936553/
Estimation on this screen only required at this stage, using mock data

[2019-06-24 09:32] PhilBarrett commented on #66
Linked with #56

[2019-06-25 08:30] BogdanScherban commented on #85
@tony-shannon @PhilBarrett
Done:
- Address issue
- Empty/dummy result
- Line between Problems/medications/allergies not clear enough
- Copyright notice states 2018, needs updating please
- Please can you add these two further hardcoded entries underneath Height:
CPR Status For active CPR
Blood Group O+
Donor status Organ Donor

[2019-06-25 11:39] kuvakina commented on #64
@tony-shannon @PhilBarrett

Dima created the user and PR for Ivor Cox.

@BogdanScherban could you please add restrictions for this user?

[2019-06-25 15:23] PhilBarrett opened #86 "Showcase Refinement 25/6"
- [x] Demographics API for PHR user
 - [x] Table view on PHR - needs to show first 5 headers and the entries on the summary page
 - [x] Roll view - Bring static image
 - [x] Static data for Vitals
 - [x] Static image for the Timeline view

[2019-06-25 16:16] PhilBarrett commented on #86
Reviewed and working fine now, thank you

[2019-06-25 16:16] #86 closed

[2019-06-25 16:17] PhilBarrett commented on #83
login screen, still showing green theme, otherwise good to close

[2019-06-25 16:19] PhilBarrett commented on #64
Reviewed and working fine

[2019-06-25 16:19] #64 closed

[2019-06-25 16:29] PhilBarrett opened #87 "Vitals not displaying correctly"
When I create a new entry,
- the chart view isn't updated visually
- the list view isn't automatically updated
- entry numbers are missing

The dates displayed are also defaulting to todays date

![Screen Shot 2019-06-25 at 17.25.02.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/35b4d94f-5c2a-4ee2-8fcb-12df18fc66a7)(https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/

[2019-06-26 08:33] PhilBarrett opened #88 "Search refinement"
- [ ] We need to remove case sensitivity for all searches
 - [ ] There is no clear way to cleardown the advanced search / clinical search. Needs to replicate the behaviour of basic search with an (x) to clear down
-  Encountering an error when trying multiple searches (see screenshot)
![Screen Shot 2019-06-26 at 09.23.03.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/d09b1060-1

[2019-06-26 08:34] PhilBarrett commented on #87
@BogdanScherban please can you update here

[2019-06-26 08:44] #78 closed

[2019-06-26 08:44] PhilBarrett commented on #78
Reviewed and closing

[2019-06-26 08:45] PhilBarrett commented on #71
Reviewed and closing

[2019-06-26 08:45] #71 closed

[2019-06-26 08:45] #84 closed

[2019-06-26 08:46] PhilBarrett commented on #84
Reviewed and happy to close

[2019-06-26 08:46] PhilBarrett commented on #32
Reviewed and happy to close

[2019-06-26 08:46] #32 closed

[2019-06-26 08:47] PhilBarrett commented on #28
Reviewed and happy to close

[2019-06-26 08:47] #28 closed

[2019-06-26 08:52] PhilBarrett commented on #79
Bringing back into development as system information not showing ""FHIR MPI Service" still

[2019-06-26 09:34] PhilBarrett opened #89 "ReSPECT bug"
Versions are out of order, with respect v1 appearing at the top before the latest version (V16), both on the patient summary and in the heading itself.

![Screen Shot 2019-06-26 at 10.33.09.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/47534393-1e54-4bf6-806f-8be4328e47d3)

[2019-06-26 15:18] BogdanScherban commented on #55
@tony-shannon @PhilBarrett @DmitrySolyannik

I solved this issue and upload it to the Showcase-Devra, but it doesn't work correctly on the Showcase-devra because of server settings.

I created timeline with dummy events and customized it according to Simon's mockups:
![Screenshot from 2019-06-26 18-08-25](https://user-images.githubusercontent.com/39263134/60191919-c1997f00-983d-11e9-95e3-a034955c0

[2019-06-26 15:30] BogdanScherban commented on #85
Responsive problem has been solved.

[2019-06-27 14:48] BogdanScherban commented on #66
@tony-shannon @PhilBarrett

Today I created all charts, except map. Unfortunately, I can't prepare the video (because free videos per month are finished), but you can see results on the screenshots:

![Screenshot from 2019-06-27 17-44-49](https://user-images.githubusercontent.com/39263134/60275956-5ade9900-9903-11e9-91f7-2adc53bfa1bb.png)
![Screenshot from 2019-06-27 17-45-02](https://user-images.

[2019-07-02 09:42] DmitrySolyannik commented on #68
@PhilBarrett , @tony-shannon , I added endpoints to qewd for getting (by nhsNumber) and creating patient from FHIR Server (Rob's Organ version), it works, but I will need changes from Rob Organ, because now I am sending http requests to FHIR Server and it's not best solution, because right now I can't use FHIR Server as microservice, so now I've added 2 new routes to qewd and when we call this rou

[2019-07-02 10:50] BogdanScherban commented on #56
@tony-shannon @PhilBarrett @simongamester

Part of this issue has been done and upload to Showcase-Devra:
https://drive.google.com/file/d/1GahoYWKsbMkOmWte0TXUb-_D-JtNFcDB/view

It is available by the URL:
https://showcase-devra.ripple.foundation/#/business

Only Heat Map should be done, but I have a Q about it.

I investigated this link: https://www.qgis.org
Is it necessary to use exactly this to

[2019-07-02 12:31] simongamester commented on #56
@BogdanScherban I see what you mean about qgis.org. No doubt it was selected because it's open source. I know we've always tried to use open source software in the past so not sure whether using google maps would conflict with this, this may be a question for @tony-shannon or @PhilBarrett I'm afraid.

As you say, Google Maps has an extensive API and specific layers for heat mapping, so would be an

[2019-07-02 13:35] kuvakina commented on #85
@BogdanScherban are these also solved?

- [ ] Counts
- [ ] Responsive issues (MPV)

[2019-07-02 13:48] kuvakina commented on #75
**Regarding Problems/diagnosis**

When creating Problems, that data being sent from front:
![1q1q1.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/c37786e4-620b-400f-9615-9cc8fe5e553d)

When updating, that data being sent:
![2q2q.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/43542e9a-dddf-43ac-ba1f-521988d1e4a9)

We should send with update the same data as w

[2019-07-02 14:38] kuvakina commented on #88
@PhilBarrett sorry, not quite understand where you mean (x). I compared 2 versions of the showcase, they work the same. Please, see the video: https://drive.google.com/file/d/1i0x1tOFTyobMTUPMogC17WpjgYVXNAyu/view

Or I checked the wrong place?

Also couldn't reproduce the error. Please see the video:
 https://drive.google.com/file/d/1f7au3pwY9UpLwh6k22VJXaGR3t2nWFFh/view

I can't reproduce the er

[2019-07-02 14:49] kuvakina commented on #89
@PhilBarrett could you please check again if you still have this bug? I checked with user Mary Spring (9999997456) - added 2 ReSPECT versions (now she has 6 versions), and I see only last 4 versions, and also I don't see Version 1:
![3q3q3.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/d16b8a7d-5471-4ecf-a16b-1da8950b47a5)

[2019-07-02 15:06] BogdanScherban commented on #56
@tony-shannon @PhilBarrett @simongamester

I've completed tins issue and uploaded it to the Showcase-Devra. Result at my local machine:
https://drive.google.com/file/d/17xqottkhTyEI6fo58gXD7t8CSB5_J1cA/view

All data are dummy, but latitude/longitude of the cities - correct, from this source:
https://latitudelongitude.org/gb/pickering

But it doesn't work at Showcase-Devra, because of Content Secu

[2019-07-03 07:53] BogdanScherban commented on #85
@kuvakina
Responsive issues (MPV) - done.
Count - what should I do? Remove count-requests? Or remove count columns?

[2019-07-05 09:10] kuvakina commented on #85
@tony-shannon @PhilBarrett

what should Bogdan do with Counts:

[2019-07-10 12:35] tony-shannon commented on #56
Good job

Still to be done on this ;

CORS settings to enable the map
Order of diseases should be Measles, Asthma, Diabetes, Dementia
Pie Charts - update by healthscore doesnt work

Charts should use Dummy Data locally for now , not NodeRed API for now

[2019-07-10 12:37] tony-shannon commented on #88
Advanced Search isnt working- to be completed

[2019-07-10 12:40] PhilBarrett commented on #68
Before we put this on ice for now, @DmitrySolyannik please can we get more detail on where this work is located (source code / deployment), what's been done etc.

[2019-07-10 12:41] PhilBarrett commented on #85
We'll keep counts functioning with dummy counts data for now.

Closing

[2019-07-10 12:41] #85 closed

[2019-07-10 12:41] #83 closed

[2019-07-10 12:43] PhilBarrett commented on #31
Can we confirm this is using dummy counts data for now please before we close off. @BogdanScherban

[2019-07-10 12:43] PhilBarrett commented on #55
To be completed

[2019-07-10 12:44] PhilBarrett commented on #66
Closing this as connected to #56

[2019-07-10 12:44] #66 closed

[2019-07-10 12:45] PhilBarrett commented on #76
@kuvakina can we get an update please

[2019-07-10 12:46] PhilBarrett commented on #25
@DmitrySolyannik can we get an update please

[2019-07-10 12:48] PhilBarrett commented on #75
Is this still writing to the wrong clinical data repository? @DmitrySolyannik to discuss with Rob if needed please.

[2019-07-10 12:49] PhilBarrett commented on #89
please see 8111133448 @kuvakina

[2019-07-11 09:13] kuvakina commented on #31
@PhilBarrett

Yes, we generate a random number at the client side

[2019-07-11 09:15] kuvakina commented on #88
@tony-shannon you mean Advanced search working only with 1 parameter? And if we implement second - it would be ignored?

[2019-07-11 13:41] BogdanScherban commented on #56
@tony-shannon @PhilBarrett

This issue has been done, except CORS:
https://drive.google.com/file/d/1ygoyP-0oCTtHueFcYN6UAcXDlDUa8Q2T/view

Done: Order of diseases should be Measles, Asthma, Diabetes, Dementia
Done: Pie Charts - update by healthscore doesnt work
Done: Charts should use Dummy Data locally for now , not NodeRed API for now

Charts Dummy data similar to NodeRed, but it set on the clei

[2019-07-11 16:14] PhilBarrett commented on #56
Thanks @BogdanScherban

@DmitrySolyannik with you on the NGINX front to enable CORS

[2019-07-12 09:03] BogdanScherban commented on #89
@tony-shannon @PhilBarrett @DmitrySolyannik

I investigated the reasons of the problem. Server side returns versions array in the order from news to oldest (it is correct behavior). Let's look as example - patientId=9999999801:
![Screenshot from 2019-07-12 11-55-58.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/583974f8-5e24-425e-a99b-0e13c8b31807)

For the patientId=8111133448

[2019-07-12 11:23] kuvakina commented on #55
Related issue https://github.com/PulseTile/PulseTile-RA/issues/25

[2019-07-12 13:12] PhilBarrett commented on #89
Thanks Bogdan, Reassigned to Dima just now to pick up.

[2019-07-12 13:26] PhilBarrett commented on #88
@kuvakina

can you add the advanced search scenarios here as agreed yesterday.

Thanks

[2019-07-12 13:58] PhilBarrett commented on #56
After investigation it was found to be NGINX related with the Content-Security-Policy headers measures blocking external traffic. This has been commented out in the NGINX settings and working fine![Screen Shot 2019-07-12 at 14.56.02.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/93394a4d-931b-42d9-9e47-51774f30ba37)

[2019-07-12 13:58] #56 closed

[2019-07-12 14:17] BogdanScherban commented on #82
@PhilBarrett @tony-shannon

I've updated all dependencies:
https://github.com/PulseTile/PulseTile-RA/blob/master/package-lock.json
https://github.com/PulseTile/PulseTile-RA/blob/master/package.json

But I don't see alerts, so I can't check results of dependencies updating

[2019-07-12 16:02] kuvakina commented on #88
@PhilBarrett we had some thoughts regarding Advanced search:
![qqq12](https://user-images.githubusercontent.com/40596171/61141022-4e4a6b00-a4d5-11e9-9230-636aabf134dc.png)

1) **Search by NHS#**
When we search by NHS#, we would see only **one** result as NHS# is unique for each patient. So we think we don't need to add search by Age Range/DOB or Gender

2-3) **Search by Surname/Name**
In original

[2019-07-15 08:27] DmitrySolyannik commented on #68
Added PR with changes for creating and getting patients from FHIR Server (Rob Organ version), but still waiting for updates, regarding using FHIR as standalone MS, right now I can call it, only via HTTP requests
https://github.com/QEWD-Courier/fhir-mpi/pull/4

[2019-07-15 09:00] PhilBarrett commented on #68
Blocked, pending further development by Rob Organ on FHIR server, to make it more available as a QEWD Microservice.

[2019-07-15 09:03] PhilBarrett commented on #55
Closing here as #25 master

[2019-07-15 09:03] #55 closed

[2019-07-15 09:28] kuvakina commented on #82
@PhilBarrett do you still have warnings?

[2019-07-15 09:39] kuvakina commented on #29
@PhilBarrett we have some issue for search and also our concerns re Advanced search here #88 , so can we close this issue?

[2019-07-15 11:11] kuvakina commented on #88
Also, @PhilBarrett I had some problems to recreate the issue you mentioned above. Could you comment on them, please?

[2019-07-15 13:08] kuvakina commented on #76
Done:

![qqq1.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/d09434d2-1210-449e-b4ba-347aac5d6e0f)

Done:

- Questions for MDT
- Meeting discussion

![qqq2.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/161fe164-2d0d-44e6-8b52-a71b6e55a3fc)

Done:

- Procedure Performed by - defaults to Performer even if i enter a different value

![qqq3.png](https://images.

[2019-07-15 13:16] kuvakina commented on #79
@PhilBarrett this is done, but you can see it on new users:
![qqq4.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/481d477b-c97d-496c-80aa-47cf3755bbc2)

[2019-07-15 15:08] kuvakina commented on #75
@PhilBarrett if you mean in Problems/diagnosis different data sent when create and update, then Bogdan should fix it.

[2019-07-15 15:51] kuvakina commented on #25
@PhilBarrett @tony-shannon I've testes showcase-devra on Create/Edit headings:

|   | Create | Edit | Comment |
| :--- | :---: | :---: | --- |
| **Problems / Issues** | yes | yes |  |
| **Medications** | yes | yes |  |
| **Vaccinations** | yes | yes |  |
| **Allergies** | yes | yes |  |
| **Contacts** | yes | yes |  |
| **Top Three Things** | yes | yes |  |
| **Clinical Notes** | yes | yes |  |
|

[2019-07-16 11:58] BogdanScherban commented on #25
@tony-shannon @PhilBarrett

We found an error in MDT edit action:

My request:
![Screenshot from 2019-07-16 14-41-06](https://user-images.githubusercontent.com/39263134/61291941-979e0180-a7d8-11e9-9065-ebc5d93b54c1.png)

Error description:
error: "#1.0.0 Invocation exception to method:update:java.lang.IllegalArgumentException: failed to create new instance of HIER_OBJECT_ID: IllegalArgumentExcepti

[2019-07-16 12:20] kuvakina commented on #65
@PhilBarrett the problems above still present

[2019-07-16 13:07] kuvakina commented on #88
@tony-shannon @PhilBarrett We removed case sensitivity for search by surname. You can see the result in the video:
https://drive.google.com/file/d/1tulp4lSllu5-Ie47dlL_dCwPh80lBs7Z/view

As for case sensitivity for Clinical search, we can't change it as this search come through EtherCIS, and there should be identical heading names. We should discuss it with EtherCIS team.

Also, we had some questi

[2019-07-16 13:43] BogdanScherban commented on #75
@PhilBarrett @tony-shannon

I fixed this issue (for Problems)

[2019-07-16 13:43] freshehr commented on #25
Nope - you are picking up the wrong ID from QEWD - Rob has tried to explain this several times already. The sourceID has to be the original compositionID not the local QEWD cached identifier for the composition.

[2019-07-16 13:52] freshehr commented on #88
@kuvakina -can you post the AQL that is sent to Ethercis for a clinical query where case-sensitivity is an issue?

[2019-07-16 14:28] kuvakina commented on #88
Ian @freshehr , here:

select   e/ehr_id/value as ehrId,   e/ehr_status/subject/external_ref/id/value as nhsNo  from EHR e  contains COMPOSITION a  contains EVALUATION a_a[openEHR-EHR-EVALUATION.adverse_reaction_risk.v1]  where   a/name/value='Adverse reaction list'  and   a_a/data[at0001]/items[at0002]/value/value like '%Seafood%'

[2019-07-16 14:42] kuvakina commented on #88
From Ian @freshehr :

try **ilike** rather than like

select   e/ehr_id/value as ehrId,   e/ehr_status/subject/external_ref/id/value as nhsNo  from EHR e  contains COMPOSITION a  contains EVALUATION a_a[openEHR-EHR-EVALUATION.adverse_reaction_risk.v1]  where   a/name/value='Adverse reaction list'  and   a_a/data[at0001]/items[at0002]/value/value ilike '%Seafood%'

[2019-07-16 15:31] tony-shannon opened #90 "easyset of Showcase demos x 2 : inc NodeRed"
Phil and Tony to check ease of set up of latest demos on new boxes

[2019-07-16 15:36] kuvakina commented on #89
@tony-shannon @PhilBarrett

I don't think we have a problem here, tbh

I just created 16 new ReSPECT forms for another Patient, and they are shown correctly on Patient Summary:
![qqq5.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/ced471be-5286-42dc-8a04-ae40c5cf2487)

I think the reason, why we have the issue for patient 8111133448, because the first version was created before

[2019-07-16 15:37] tony-shannon commented on #89
ok do try it please @kuvakina

[2019-07-16 15:46] kuvakina commented on #25
Thanks, Ian @freshehr

Problem with MDT described in this issue: https://github.com/QEWD-Courier/QEWD-Courier/issues/84

[2019-07-16 15:55] kuvakina commented on #89
@tony-shannon I'll update the issue when I finish

[2019-07-17 08:36] BogdanScherban commented on #87
@tony-shannon @PhilBarrett

The problem has following reason. Server response doesn't include number of Vital. For this reason I add Vital number dynamically, when I parse response:
https://github.com/PulseTile/PulseTile-RA/blob/40b06106fbaa8423db10d858d9ca8306a78e7486/src/core/dataProviders/dataProvider.js#L109

It works correctly, when we display the list of the Vitals:
![Screenshot from 2019-07

[2019-07-17 09:08] tony-shannon commented on #75
@kuvakina to retest and update here

[2019-07-17 09:16] tony-shannon commented on #88
@kuvakina please report on search functionality , what is working/what is broken
If suggestions for further improvement , please share estimates

[2019-07-17 09:25] tony-shannon commented on #25
ok as most all Headings working as planned except for known issues #20 Transfers of Care #84 MDT  so closing this for now

[2019-07-17 09:25] #25 closed

[2019-07-17 09:52] tony-shannon opened #91 "E2E test for showcase-devra"
Need to revisit E2E tests for Showcase Dev RA + Qewd + EtherCIS stack

[2019-07-17 09:54] tony-shannon commented on #91
comment from Bogdan

######

Step 1: we create tests for each page (only check that this link is available and page title is presented) - 2-3 h
Step 2: check functionality (Create/Edit/Show, Chart/Table switching etc.) of each page separately (depends on page - for BI, Vitals and Allergies)

Suggest complete Step 1 and after this solve, which pages we will check more detail

ok need full estimate

[2019-07-17 12:16] kuvakina opened #92 "Incorrect work of the list, when change the page"
When we open details on the 1st page, the list is ok. But if we go to another page and open details, the list disappears and we see "No Records found". See the video:
https://drive.google.com/file/d/121vFS3Vqz4Y5_4_KF1yor1od5dtqtqZh/view

[2019-07-17 15:31] kuvakina opened #93 "Mismatch of created and showed info for Headings"
In details is shown less info, that we create. For example:
**Problems**
![s1.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/72833577-6c6d-4c9e-be5b-2406ed1282df)
![s2.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/da2e86e3-d068-42e9-a54e-6635a800fb21)
**Or Medications**
![s3.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/0775a13a-bcd8-45

[2019-07-17 15:58] kuvakina opened #94 "Vitals alsways shows today date"
You can notice in System Info in Details, that Vitals were created in different days, but in the list, it shows today date for all records.
![s5.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/d1db8434-9911-4fe1-acce-1bcfd5ac3881)
@BogdanScherban @DmitrySolyannik could you take a look, please?

[2019-07-17 16:43] kuvakina commented on #92
@tony-shannon @PhilBarrett

Bogdan worked in this issue, but couldn't solve it. He described the problem here: https://github.com/PulseTile/PulseTile-RA/issues/98

We would need Francois help again

[2019-07-17 16:59] kuvakina commented on #75
@tony-shannon @PhilBarrett
As you can see now date created and updated in the same format for Problems/diagnosis:

When creating Problems, that data being sent from the front:
![PT-create](https://user-images.githubusercontent.com/40596171/61395143-55a2b780-a8cd-11e9-917a-a91e94c26949.png)

When updating, that data being sent:
![PT-upd](https://user-images.githubusercontent.com/40596171/61395158-6

[2019-07-17 17:38] kuvakina commented on #24
From @DmitrySolyannik :

I've checked functionality and source equal GP only in case when we getting this data from Discovery, if you remember we have such functionality when patient login and on api/initialise we call discovery api for getting this heading data, it was developed by Rob in his old version of QEWD and we moved this logic to our refactored version.

[2019-07-18 11:25] kuvakina commented on #88
### **Basic search**
https://drive.google.com/file/d/1dzu5Mm5ktZAOdy6k_tcS2UbubTLukfzP/view

On the video, you can see that Basic search by surname **works** and not case sensitive.
![bs1](https://user-images.githubusercontent.com/40596171/61542597-907e2a00-aa4a-11e9-9138-30ca76881dbc.png)

Basic search by NHS# **NOT** working on Showcase-devra.

[2019-07-18 12:35] BogdanScherban commented on #87
@tony-shannon @PhilBarrett
This issue was solved:
https://drive.google.com/file/d/1xuh1HnXF7GkKPK8n3IspGDwwyTRbwWYl/view

[2019-07-18 12:39] BogdanScherban commented on #94
@tony-shannon @PhilBarrett
This issue has been done. Now in the table actual dates:
![Screenshot from 2019-07-18 15-38-16](https://user-images.githubusercontent.com/39263134/61457961-2e51f600-a972-11e9-9132-b1ec8b4dadf9.png)
![Screenshot from 2019-07-18 15-38-29](https://user-images.githubusercontent.com/39263134/61457963-2eea8c80-a972-11e9-93e7-a59484b5eb4b.png)

[2019-07-18 12:40] BogdanScherban commented on #93
@tony-shannon @PhilBarrett
This issue has been done for all plugins. You can see it on the video:
https://drive.google.com/file/d/1D-76eoMywZdqsBhHDksHxr-iw4YxVe0K/view

[2019-07-18 14:09] PhilBarrett commented on #87
Hi @BogdanScherban please can you retest this creating a new entry. the table isn't automatically updated still. I have to click on a different view and return to the chart view for it to refresh.

[2019-07-18 14:11] PhilBarrett commented on #94
Reviewed and closing, thanks

[2019-07-18 14:11] #94 closed

[2019-07-18 14:18] PhilBarrett commented on #93
Thanks, reviewed and closing

[2019-07-18 14:18] #93 closed

[2019-07-18 15:32] kuvakina commented on #89
@tony-shannon @PhilBarrett
I created new test Patient on Showcase:

Lliam Williams  /    8888888000

Could you please provide me with some test data for ReSPECT form?

[2019-07-18 16:09] tony-shannon commented on #91
@kuvakina to update with a brief plan please

[2019-07-19 10:07] kuvakina commented on #87
@tony-shannon @PhilBarrett

- [x] the chart view isn't updated visually
- [x] the list view isn't automatically updated
- [x] entry numbers are missing

Tested the changes on Showcase-devra. Vitals working correctly:
### - when you click on old record
![qq2](https://user-images.githubusercontent.com/40596171/61527774-e8ef0080-aa25-11e9-8c6a-6b16351b738e.png)

### - when you create new record
![qq1

[2019-07-19 17:22] kuvakina commented on #88
### **Advanced search**
Advanced search works correctly.

###  by NHS#

**Search:**
![as1](https://user-images.githubusercontent.com/40596171/61542887-1306e980-aa4b-11e9-9dcf-e49dc15fdbd0.png)
- [x] **Result:**
![as1 1](https://user-images.githubusercontent.com/40596171/61542740-d63af280-aa4a-11e9-96dc-ad5f152fb794.png)

### by surname

**Search:**
![as2](https://user-images.githubusercontent.com/

[2019-07-19 17:26] kuvakina commented on #88
### **Clinical Query search**
https://drive.google.com/file/d/1UcA5A5qy8RTExfpx4PLS-ODhppgnqMG0/view
On the video, you can see that Clinical Query search **works correctly** for:
1. (works) by Search Type(any)/Search Query (and not case sensitive)
2. (works) by Search Type(any)/Search Query + by age range + by gender
3. (works) by Search Type(any)/Search Query + by age range
4. (works) by Search T

[2019-07-19 18:58] kuvakina commented on #91
@tony-shannon I'm not sure about plan, but as we have the issues with E2E tests right now, I can make some notices that we maybe should keep in mind:

1. Form QA who created the E2E tests before, I heard that the biggest problem with tests was the fact that the staging could not withstand the speed with which tests in 1 stream sent requests. It's a system problem.
The problem should be solved with

[2019-07-23 09:10] kuvakina commented on #92
From Bogdan:
@tony-shannon @PhilBarrett
This issue was fixed.
I tried to use DatagridRow instead of TableRow - table not working in this case.
But I changed onClick - now it add page to URL. I forgot, that we redirect user to show page manually (not by RA-functionality), so we have possibility to control it.

And it works.
@djhi, thank you very much for help!
![qq1](https://user-images.githubuserc

[2019-07-23 11:18] kuvakina opened #95 "Issue with creating new record on 2+ page"
in issue #92 we fixed the problem when we clicking on record and opens details on 2d, 3d etc pages. But we noticed that there is another problem when we go on 2d, 3d etc page and click Create button - all records are hiding. Please see the video:

https://drive.google.com/file/d/1ItZnYPG8YFsILvDz_y_qFUmhQtbqcMg9/view

[2019-07-23 12:36] BogdanScherban commented on #92
@tony-shannon
This bug has been fixed

[2019-07-23 14:43] kuvakina commented on #95
This Issue was fixed:
![f2.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/46fe69c3-f203-4ef1-b9aa-da1259996fd8)

[2019-07-26 10:01] tony-shannon commented on #90
docker updates needed

[2019-07-26 10:03] tony-shannon commented on #22
working well now, thanks @DmitrySolyannik

Some documentation for Readme & related PRs next please

[2019-08-01 13:33] kuvakina opened #96 "Hide MDT "Link to MDT Web Service Directory""
Hide for:
- [ ] showcase-demonstrator.ripple.foundation

- [ ] showcase-auth0.ripple.foundation

- [ ] showcase-dev.ripple.foundation

[2019-08-02 09:32] tony-shannon commented on #22
PR merged, needs testing and update after

[2019-08-02 10:40] kuvakina opened #97 "Auth0 login not working correctly"

[2019-08-02 17:31] kuvakina opened #98 "Heading are deleted after editing"

[2019-08-02 17:51] kuvakina opened #99 "Procedure Performed By - reverts to 'performer' regardless of what is entered"

[2019-08-02 18:23] kuvakina opened #100 "Issue with switch buttons in Vitals"

[2019-08-02 18:39] kuvakina commented on #96
@tony-shannon @PhilBarrett

Bogdan tried to hide it locally and test it. But after he did it, we couldn't save changes (even if we did nothing) and get EtherCIS error about wrong format.

We had this error before, and Ian helped to fix it. Maybe this field required by EtherCIS.

**NOTE**:
For now, we suggest maybe do not touch it. Bogdan just made this field not required.

[2019-08-05 15:24] kuvakina commented on #22
@tony-shannon @PhilBarrett

We've tested https://showcase-auth0.ripple.foundation

In general, it works but we noticed some issues on Friday, although it worked correctly before. The issues described here: issue #97

[2019-09-02 13:36] PhilBarrett opened #101 "Improve how PulseTile manages expired JWT"
PulseTile currently instead of detecting a JWT expiry and re-directing to the OIDC Provider, sends the requests to QEWD which then sends the error back saying the JWT has expired. This is not efficient and involves having to manually delete the cookie in the browser.

[2019-09-02 13:38] PhilBarrett opened #102 "Searching error"
As a user I have to search for a name twice before it displays the name or (if no name exists) gives me the option to add a new name

[2019-09-11 16:37] PhilBarrett opened #103 "Creation of a new patient record requires all fields to be completed"
District
Country
Telephone number should be optional fields

In addition a error message needs to be displayed if mandatory fields are missing, to guide the user, so it may be completed correctly.

[2020-01-20 11:11] kuvakina opened #104 "Error accured after moving Showcase project on AWS"
We moved Showcase.r.f on AWS, and it's here now: https://showcase-stack-demo.ripple.foundation/

We made everything according to the steps provided by Dima (Dima tested them himself and there weren't any problems). But we got this error:
![Снимок экрана 2020-01-13 в 16 45 18](https://user-images.githubusercontent.com/40596171/72535562-70a4b300-3881-11ea-868e-7669f9f21649.png)
![Снимок экрана 2020-

[2020-02-06 16:11] kuvakina commented on #104
The problem was in Node versions:
When we run container, it downloads Node last version: in Rob's containers it's 12, but on the project, we have 10.14.
From here https://hub.docker.com/r/rtweed/qewd-server/tags we have to use version, that was updated 3 months ago, more recent versions are not working with Showcase.

Dima and Vladimir changed it and it's working now and we can login.

But now we

[2020-02-11 14:12] kuvakina commented on #104
The issue we had with **mpi_service** is solved now.

The problem was in docker setups.
We had (and with this it's not worked):
[code]

And changed it to:
[code]

This solved the issue.

[2020-02-12 08:29] kuvakina opened #105 "Creation of a new heading record requires all fields to be completed"
An error message needs to be displayed if mandatory fields are missing, to guide the user, so it may be completed correctly (e.g. "Please fill in all fields").

Related to issue #103